<div>
  <a class='button button-clear spot-tab-inactive'
     ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.spot"}'
     ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/spot")'>
    Spot
  </a>
  <span ng-show='vm.showTab("orientations")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.orientations"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/orientations")'>
        Orientations
      </a>
    </span>
  <span ng-show='vm.showTab("_3dstructures")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab._3dstructures"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/_3dstructures");'>
        3D Structures
      </a>
    </span>
  <span ng-show='vm.showTab("images")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.images"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/images");'>
        Images
      </a>
    </span>
  <span ng-show='vm.showTab("nesting")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.nesting"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/nesting");'>
        Nesting
      </a>
    </span>
  <span ng-show='vm.showTab("samples")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.samples"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/samples");'>
        Samples
      </a>
    </span>
  <span ng-show='vm.showTab("other_features")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.other-features"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/other-features");'>
        Other Features
      </a>
    </span>
  <span ng-show='vm.showTab("inferences")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.inferences"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/inferences");'>
        Inferences
      </a>
    </span>
  <span ng-show='vm.showTab("tags")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.tags"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/tags");'>
        Tags
      </a>
    </span>
  <span>
      <a class='button button-clear spot-tab-inactive'
         ng-click='vm.submit("/app/preferences");'>
        More
      </a>
    </span>
</div>