<div>
  <span ng-show='vm.showTab(tab.value)' ng-repeat='tab in vm.tabs track by $index'>
    <a class='button button-clear spot-tab-inactive'
       ng-class='{ "spot-tab-active": vm.stateName === "app.spotTab." + tab.path}'
       ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/" + tab.path)'>
    {{ tab.label }}
    </a>
  </span>
  <span>
    <a class='button button-clear spot-tab-inactive'
       ng-click='vm.submit("/app/preferences");'>
        More
    </a>
  </span>
</div>