<ion-view title="Archive Tiles">
  <ion-content class="has-header">
    <form class="list">
      <div class="row responsive-md">
        <div class="col">
          <label class="item item-input">
            <span class="input-label"><b>Offline Map Name</b></span>
            <input type="text" placeholder="some name" ng-model="mapName">
          </label>          
      </div>
      
      <div class="item item-divider" ng-show="showDownload">
        Download Strategy
        <ion-checkbox ng-model="downloadZooms.checked"
              ng-change="onChangeDownloadZooms()">
        download inner zooms?
      </ion-checkbox>
      </div>


    </form>

    <div>
      <p></p>
      <p>Estimated number of tiles to download: {{estimate.numberOfTiles}}</p>
      <p>Estimated total download size: {{estimate.byteSize | number}} bytes</p>
    </div>

    <div class="padding">
        <button class="button button-block button-positive" ng-click="submit()">Start Downloading</button>
    </div>
  </ion-content>
</ion-view>