<ion-view title="Archive Tiles">
  <ion-content class="has-header">
    <form class="list">
      <div class="row responsive-md">
        <div class="col">
          <label class="item item-input">
            <span class="input-label"><b>Offline Map Name</b></span>
            <input type="text" placeholder="map name" ng-model="map.name" autofocus>
          </label>          
      </div>
      
      
        
        <ion-checkbox ng-model="map.downloadZooms"
                      ng-show="showDownload"
                      ng-change="onChangeDownloadZooms()">
        download inner zooms?
      </ion-checkbox>
      
    </form>

    <div>
      <p>Current number of offline tiles: {{numOfflineTiles}}</p>
      <p></p>
      <p>Estimated number of tiles to download: {{map.tiles.length}}</p>
      <p>Estimated total download size: {{(map.tiles.length * avgTileBytes) / 1024 / 1024 | number:0}} MB</p>
    </div>

    <div class="padding">
        <button class="button button-block button-positive" ng-click="submit($event)">Archive this map</button>
        <progress ng-value="map.percentDownload" max="100" ng-show="map.showProgressBar"></progress>
    </div>
  </ion-content>
</ion-view>