<ion-view title="Common Spot Detail">
  <ion-nav-buttons side="right">
    <button ng-click="deleteSpot();" class="button button-icon icon ion-trash-a"></button>
    <button ng-click="cameraModal()" class="button button-icon icon ion-camera"></button>
    <button ng-click="goToSpot();" class="button button-icon icon ion-eye"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form class="list">
      <div class="row responsive-md">
        <div class="col">
          <label class="item item-input">
            <span class="input-label"><b>Spot Type</b>
            </span>
            <input type="text" disabled ng-model="spot.properties.spottype">
          </label>
          <label class="item item-input">
            <span class="input-label"><b>Spot Name</b>
            </span>
            <input type="text" placeholder="Name this Spot" ng-model="spot.properties.name" autofocus>
          </label>
          <label class="item item-input">
            <span class="input-label"><b>ID</b>
            </span>
            <input type="text" disabled ng-model="spot.properties.id">
          </label>
          <label class="item item-input">
            <span class="input-label"><b>Date</b>
            </span>
            <input type="date" ng-model="spot.properties.date">
          </label>
          <label class="item item-input">
            <span class="input-label"><b>Time</b>
            </span>
            <input type="time" ng-model="spot.properties.time">
          </label>
        </div>

        <!-- Location -->
        <div class="col">
          <div class="item item-divider">
            Location & Geometry
          </div>
          Feature Type: {{spot.geometry.type}}
          <label class="item item-input">
            <input type="string" ng-model="friendlyGeom" value={{friendlyGeom}} ng-disabled="true">
          </label>
          <label class="item item-input" ng-show="showLatLng">
            <span class="input-label">Latitude</span>
            <input type="number" ng-model="point.latitude" value={{point.latitude}}>
          </label>
          <label class="item item-input" ng-show="showLatLng">
            <span class="input-label">Longitude</span>
            <input type="number" ng-model="point.longitude" value={{point.longitude}}>
          </label>
          <div>
            Update Location From
            <div>
              <ion-buttons>
                <button ng-click="getLocation();" class="button icon-left ion-pinpoint">My Location</button>
              </ion-buttons>

              <ion-buttons>
                <button ng-click="openMap();" class="button icon-left icon ion-map">Map</button>
              </ion-buttons>
            </div>
          </div>
        </div>
      </div>

      <!-- Images -->
      <div class="row responsive-md">
        <ul>
          <li ng-repeat="image in spot.images" style="display: inline;">
            <img ng-src="{{image.src}}" width="100" height="100" />
          </li>
        </ul>
      </div>

      <div class="item item-divider">
        Notes
      </div>
      <label class="item item-input">
        <textarea placeholder="Notes about this Spot" rows="4" ng-model="spot.properties.notes"></textarea>
      </label>

      <!-- Related Spots -->
      <div ng-show="showRelatedSpots">
        <div class="item item-divider">
          Related Spots
        </div>
        <ion-checkbox ng-repeat="item in other_spots"
                      ng-value="item.value"
                      ng-checked="spot.properties.related_spots.indexOf(item.value) > -1"
                      ng-click="toggleSelection(item.value)">
          {{ item.text }}
        </ion-checkbox>
      </div>

      <div class="padding">
        <button class="button button-block button-positive" ng-click="submit()">Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
