<ion-view title="Debug">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <label class="item item-input">
      <span class="input-label">points to generate</span>
      <input type="number" ng-model="data.pointsToGenerate" value={{data.pointsToGenerate}} placeholder="how many points?">
    </label>
	<button class="button button-block button-positive" ng-click="submit()">Generate Points</button>
  </ion-content>

</ion-view>