<style type="text/css">
.draw-controls {
    position: absolute;
    top: 65px;
    left: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}
.ol-touch .draw-controls {
    top: 80px;
}
.draw-controls a {
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    height: 22px;
    width: 22px;
    background: #5c914f;
}
.ol-touch .draw-controls a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 26px;
}
.draw-controls a:hover {
    background: rgba(0, 60, 136, 0.7);
}
</style>
<ion-view title="Strabo Mobile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="getLocation();" class="button button-icon icon ion-pinpoint"></button>
        <button ng-click="toggleAirplaneMode()" ng-class="{'button button-icon icon ion-earth': !airplaneMode,
        'button button-icon icon ion-plane':airplaneMode}"></button>
        <button ng-click="clearOfflineTile();" class="button button-icon icon ion-trash-b"></button>
        {{numOfflineTiles}} tiles
    </ion-nav-buttons>
    <ion-content data-tap-disabled="true">

        <div id="mapdiv" style="height:100%"></div>

    </ion-content>
</ion-view>