<ion-view title="Offline Maps">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="clearOfflineTile();" class="button button-icon icon ion-trash-b"></button>
    {{numOfflineTiles}} tiles
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="map in maps.maps">
        <div class="row">
          <div class="col">
            <b>{{map.name}}</b>  <small>({{map.tileArray.length}} tiles, {{map.size }} {{map.size | normalizeBytes}}, {{map.mapProvider}})</small>
          </div>
          <div class="col item-button-right">
            <button class="button button-second icon-left button-small button-calm ion-edit " ng-click="edit(map)">Edit</button>
            <button class="button icon-left button-small button button-assertive ion-trash-b" ng-click="delete(map)">Delete</button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
