<ion-view title="Database Sync">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h6 ng-hide="hideActionButtons.logout">You are currently logged in as: {{loginData.email}}</h6>
    <label class="item item-input" ng-hide="hideActionButtons.login">
      <span class="input-label"><b>Email</b></span>
      <input type="text" ng-model="loginData.email" value={{loginData.email}}>
    </label>
    <label class="item item-input" ng-hide="hideActionButtons.login">
      <span class="input-label"><b>Password</b></span>
      <input type="text" ng-model="loginData.password" value={{loginData.password}}>
    </label>
    <button ng-click="doLogin();" ng-hide="hideActionButtons.login" ng-disabled="!(loginData.email && loginData.password)" class="button icon-left icon ion-log-in button-balanced">Login</button>
    <button ng-click="doLogout();" ng-hide="hideActionButtons.logout" class="button icon-left icon ion-log-out button-assertive">Logout</button>
    <div ng-show="showDatasetOpts()">
      <br>
      <div class="list">

        <div ng-show="datasets.length > 0">
          <div class="item item-divider">
            Dataset Operations
          </div>

          <!-- List Current Datasets -->
          <label class="item item-input item-select item-stacked-label item-text-wrap">
            <div class="input-label">
              Select a Dataset
            </div>
            <select ng-model="dataset"
                    ng-options="item.name for item in datasets">
            </select>
          </label>

          <!-- Upload, Download or Delete Selected Dataset -->
          <div class="row responsive-sm">
            <div class="col">
              <button ng-click="getDatasetSpots()" ng-disabled="!dataset" class="button button-positive button-block icon-left icon ion-android-download">Download</button>
            </div>
            <div class="col">
              <button ng-click="addDatasetSpots()" ng-disabled="!dataset" class="button button-positive button-block icon-left icon ion-upload">Upload</button>
            </div>
            <div class="col">
              <button ng-click="deleteDataset()" ng-disabled="!dataset" class="button button-positive button-block icon-left icon ion-trash-b">Delete</button>
            </div>
          </div>
        </div>

        <!-- Create Dataset -->
        <div class="item item-divider">
          Create a New Dataset
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper item-stacked-label item-text-wrap">
            <span class="input-label">Dataset Name:</span>
            <input type="text"
                   ng-model="dataset_name">
          </label>
          <button ng-click="createDataset()" ng-disabled="!dataset_name" class="button button-positive button-small">
            Create Dataset
          </button>
        </div>

        <!-- Delete All Spots -->
        <div class="item item-divider">
          Delete Spots
        </div>
        <div>
        <button ng-click="deleteSpots()" class="button button-dark icon-left icon ion-trash-b">Delete <b>ALL</b> Spots for this user on the server.</button>
        </div>
        </div>

      </div>
    </div>
    <div ng-show="progress.showProgress">You are uploading spot {{ progress.current }} of {{ progress.total }}</div>
    <div ng-show="progress.showUploadDone">Finished uploading spots to Dataset <b>{{ dataset.name }}</b> on the server.</div>
    <div ng-show="progress.showDownloadDone">Finished downloading spots from Dataset <b>{{ dataset.name }}</b> on the server.</div>
  </ion-content>
</ion-view>
