<ion-view title="Sync">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="downloadSpots();" class="button button-icon icon ion-android-download"></button>
    <button ng-click="uploadSpots();" class="button button-icon icon ion-upload"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Database Sync</h1>
    <h6 ng-hide="hideActionButtons.logout">You are currently logged in as: {{loginData.email}}</h6>
    <label class="item item-input" ng-hide="hideActionButtons.login">
      <span class="input-label"><b>Email</b></span>
      <input type="text" ng-model="loginData.email" value={{loginData.email}}>
    </label>
    <label class="item item-input" ng-hide="hideActionButtons.login">
      <span class="input-label"><b>Password</b></span>
      <input type="text" ng-model="loginData.password" value={{loginData.password}}>
    </label>
    <button ng-click="doLogin();" ng-hide="hideActionButtons.login" class="button icon-left icon ion-log-in button-balanced">Login</button>
    <button ng-click="doLogout();" ng-hide="hideActionButtons.logout" class="button icon-left icon ion-log-out button-assertive">Logout</button>
    <div ng-show="progress.showProgress">You are uploading spot {{progress.current}} of {{progress.total}}</div>
  </ion-content>
</ion-view>
