<ion-view view-title='Login' name='login-view'>
  <ion-content>
    <div class='login-page scroll' align='center'>
      <div class='login-inset'>
        <div class='login-title'>
            <span class='login-title-line-1'>strabo
            <span class='login-title-line-2'>spot</span>
          </span>
        </div>
        <div class='list list-inset'>
          <ion-input class='item item-input'>
            <input class='login-input' type='text' placeholder='Username' ng-model='vm.login.email'>
          </ion-input>
          <ion-input class='item item-input'>
            <input class='login-input' type='password' placeholder='Password' ng-model='vm.login.password'>
          </ion-input>
        </div>
        <div class='padding'>
          <button class='button button-block button-positive' ng-click='vm.doLogin()'
                  ng-disabled='!(vm.login.email && vm.login.password)'>Login
          </button>
        </div>
        <a class='create-account-text' href='#'
           onclick='window.open("http://strabospot.org/register", "_system", "location=yes"); return false;'>
          Create an account
        </a>
        <p class='create-account-text' >
          <small>version 0.17.12</small>
        </p>
      </div>
      <button class='button icon-left button-positive button-small ion-forward pull-right skip' ng-click='vm.skip()'>
        Skip
      </button>
    </div>
  </ion-content>
</ion-view>