<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
    <button class='button button-positive'
            ng-click='vmChild.submit()'>Save
    </button>
    <h1 class='title'>{{ vmChild.modalTitle }}</h1>
    <div class='buttons'>
      <button class='button button-clear icon ion-calculator icon-right'
              ng-click='vmChild.calcTrendPlunge()'
              ng-show='vm.stateName === "app.spotTab.orientations" && vm.data.type === "linear_orientation" && vmChild.parentOrientation'>
        <span class="calc-trend-plunge-text">Calc Trend Plunge</span></button>
      <button class='button button-clear icon ion-compass'
              ng-click='vmChild.openCompass()'
              ng-show='vm.stateName === "app.spotTab.orientations"'></button>
      <button class='icon ion-close-round close-modal-button'
              ng-click='vmChild.basicFormModal.hide()'>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class='has-header'>
    <div class='padding orientation-reference' ng-show="vmChild.parentOrientation">
      <b>REFERENCE ORIENTATION:</b></span>
      {{ vmChild.parentOrientation.label }}
    </div>
    <form name='straboForm' novalidate=''>
      <auto-fields/>
    </form>
  </ion-content>
</ion-modal-view>

