<ion-view>
  <ion-content>
    <div ng-repeat='(key, value) in vm.spot.properties.custom'>
      <div class='item item-input item-stacked-label item-text-wrap item-button-right'>
        <span class='input-label'>{{ key }}</span>
        <input type='text' ng-model='vm.spot.properties.custom[key]'>
        <button class='button button-clear button-assertive' ng-click='vmChild.deleteCustomField(key)'>
          <i class='icon ion-minus-circled'></i>
        </button>
      </div>
    </div>
    <div class='list list-inset'>
      <h4>Add a New Custom Field:</h4>
      <label class='item item-input'>
        <input type='text' placeholder='Name' ng-model='vmChild.customField.name'>
      </label>
      <label class='item item-input'>
        <input type='text' placeholder='Value' ng-model='vmChild.customField.value'>
      </label>

      <div class='padding'>
        <button ng-click='vmChild.createCustomField()' class='button button-positive icon-left ion-plus'>Add Custom
          Field
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>