<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <button class='button icon ion-checkmark-circled button-clear'
            ng-click='vmChild.submitRelationship()'>
    </button>
    <h1 class='title'>Relationship</h1>
    <button class='button icon ion-close-round button-clear'
            ng-click='vmChild.closeModal("relationshipModal")'></button>
  </ion-header-bar>
  <ion-content class='has-header'>
    <div class='relationship-select'>
      Select observations and relationship:
    </div>
    <ion-input class='item item-input item-select item-text-wrap'>
      <select ng-model='vmChild.relationship.observationA'
              ng-options='key as value for (key, value) in vmChild.orientationData'>
      </select>
    </ion-input>
    <ion-input class='item item-input item-select item-text-wrap'>
      <select ng-model='vmChild.relationship.relationship_type'
              ng-options='relationship as relationship for relationship in vmChild.relationshipTypeChoices'>
      </select>
    </ion-input>
    <div ng-show='vmChild.relationship.relationship_type === "other"'>
      <ion-input class='item item-input'>
        <input class='other-relationship' type='text' ng-model='vmChild.relationship.other_relationship'
               placeholder='Define other relationship here ...'>
      </ion-input>
    </div>
    <ion-input class='item item-input item-select item-text-wrap'>
      <select ng-model='vmChild.relationship.observationB'
              ng-options='key as value for (key, value) in vmChild.orientationData'>
      </select>
    </ion-input>
    <div class='strabo-form'>
      <ion-input class='item item-input'>
        <ion-label>Deformation Event</ion-label>
        <input type='text' ng-model='vmChild.relationship.deformation_event'
               placeholder='What deformational event(s) are these associated with?'>
      </ion-input>
    </div>
  </ion-content>
</ion-modal-view>
