<ion-view>
  <ion-content>
    <div class='padding'>
      <button ng-click='vmChild.linkSpot();' class='button button-positive icon-left icon ion-link'>Add or Edit Links to
        Other Spots
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat='item in vm.links_selected'>
        <a ng-click='vm.openSpot(item.id);' style="text-decoration:none">{{item.name}}</a>
        <small>({{ vm.spotTypes[item.type] }})</small>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>{{ item.relationship }}</b> this {{ vm.spotTypes[vm.spot.properties.type] }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select ng-model='relationship'
                ng-options='link_relationships.type for link_relationships in vm.link_relationship.choices'
                ng-change='vmChild.setLinkRelationship(item, relationship)'>
          <option value=''>-- select a relationship --</option>
        </select>
      </ion-item>
    </ion-list>
    <br>
  </ion-content>
</ion-view>