<ion-view>
  <ion-content>
    <div class="padding">
      <button ng-click='vmChild.addPlane();' class='button button-clear button-balanced'>
        <i class='icon ion-plus-circled'></i>
        <span class='button-text-color'>Add a Plane</span>
      </button>
      <button ng-click='vmChild.addLine();' class='button button-clear button-balanced'>
        <i class='icon ion-plus-circled'></i>
        <span class='button-text-color'>Add a Line</span>
      </button>
      <button ng-click='vmChild.addTabularZone();' class='button button-clear button-balanced'>
        <i class='icon ion-plus-circled'></i>
        <span class='button-text-color'>Add a Tabular Zone</span>
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat='orientation in vm.spot.properties.orientation_data track by $index'
                ng-init='orientationIndex = $index'>
        <div ng-click='vmChild.goToOrientation(orientationIndex)'>
            <span ng-if='orientation.orientation_type === "linear_orientation"' class='orientation-text'>
              {{ orientationIndex+1 }}: Measured Line</span>
            <span ng-if='orientation.orientation_type === "planar_orientation"' class='orientation-text'>
              {{ orientationIndex+1 }}: Measured Plane</span>
            <span ng-if='orientation.orientation_type === "tabular_zone_orientation"' class='orientation-text'>
              {{ orientationIndex+1 }}: Measured Tabular Zone</span>
          <br>
          <span ng-if='orientation.strike'>Strike: {{ orientation.strike }}</span>
          <span ng-if='orientation.dip_direction'>Dip Direction: {{ orientation.dip_direction }}</span>
          <span ng-if='orientation.dip'>Dip: {{ orientation.dip }}</span>
          <span ng-if='orientation.trend'>Trend: {{ orientation.trend }}</span>
          <span ng-if='orientation.plunge'>Plunge: {{ orientation.plunge }}</span>
          <span ng-if='orientation.feature_type'>Feature Type: {{ orientation.feature_type }}</span>
        </div>
        <div class=" item-button-right">
          <button class='button button-clear button-dark' ng-click='vmChild.deleteOrientation(orientationIndex)'>
            <i class='ion-trash-b'></i>
          </button>
        </div>
        <div ng-if='orientation.associated_orientation'>
          <ion-item ng-repeat='associated_orientation in orientation.associated_orientation track by $index'
                    ng-init='associatedOrienationIndex = $index'>
            <div ng-click='vmChild.goToAssociatedOrientation(orientationIndex, associatedOrienationIndex)'>
                <span ng-if='associated_orientation.orientation_type === "linear_orientation"' class='orientation-text'>
                  Associated Measured Line</span>
                <span ng-if='associated_orientation.orientation_type === "planar_orientation"' class='orientation-text'>
                  Associated Measured Plane</span>
                <span ng-if='associated_orientation.orientation_type === "tabular_zone_orientation"'
                      class='orientation-text'>
                  Associated Measured Tabular Zone</span>
              <br>
              <span ng-if='associated_orientation.strike'>Strike: {{ associated_orientation.strike }}</span>
              <span ng-if='associated_orientation.dip_direction'>Dip Direction: {{ associated_orientation.dip_direction }}</span>
              <span ng-if='associated_orientation.dip'>Dip: {{ associated_orientation.dip }}</span>
              <span ng-if='associated_orientation.trend'>Trend: {{ associated_orientation.trend }}</span>
              <span ng-if='associated_orientation.plunge'>Plunge: {{ associated_orientation.plunge }}</span>
              <span
                ng-if='associated_orientation.feature_type'>Feature Type: {{ associated_orientation.feature_type }}</span>
            </div>
            <div class=" item-button-right">
              <button class='button button-clear button-dark'
                      ng-click='vmChild.deleteAssociatedOrientation(orientationIndex, associatedOrienationIndex)'>
                <i class='ion-trash-b'></i>
              </button>
            </div>
          </ion-item>
        </div>

        <div ng-if='orientation.orientation_type === "linear_orientation"'>
          <button ng-click='vmChild.addAssociatedPlane(orientationIndex);'
                  class='button button-small button-clear button-balanced'>
            <i class='icon ion-plus-circled'></i>
            <span class='button-text-color'>Add an Associated Planar Feature</span>
          </button>
        </div>
        <div ng-if='orientation.orientation_type === "planar_orientation" ||
           orientation.orientation_type === "tabular_zone_orientation" '>
          <button ng-click='vmChild.addAssociatedLine(orientationIndex);'
                  class='button button-small button-clear button-balanced'>
            <i class='icon ion-plus-circled'></i>
            <span class='button-text-color'>Add an Associated Linear Feature</span>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
