<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <h1 class='title'>Other Feature</h1>
    <button class='button icon ion-close-round button-clear'
            ng-click='vmChild.closeModal("otherFeatureTypesModal")'>
    </button>
  </ion-header-bar>
  <ion-content class='has-header'>
    <ion-list>
      <ion-item ng-repeat='type in vmChild.otherFeatureTypes | filter:vmChild.filterDefaults' class='item-button-right'>
        {{type}}
          <button class='button button-clear button-assertive' ng-click='vmChild.deleteType($index)'>
            <i class='icon ion-minus-circled'></i>
          </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>

