<ion-view>
  <ion-content class='strabo-form'>
    <button ng-click='vmChild.addFeature()'
            class='button button-clear button-positive'>
      <i class='icon ion-plus-circled'></i>
      <span class='button-text-big'>Add a Feature</span>
    </button>
    <button ng-click='vmChild.editTypes()'
            class='button button-clear button-dark button-right'>
      <i class='icon ion-edit'></i>
    </button>
    <ion-list>
      <ion-item class='item-text-wrap item-button-right'
                ng-click='vmChild.editFeature($index)'
                ng-repeat='feature in vm.spot.properties.other_features'>
        <b>{{ feature.name }} </b>
        <small>({{ feature.type }} feature) <br>
          {{ feature.description.substring(0, 120) }}
          <span ng-show='feature.description.substring(0, 120) !== feature.description'>. . .</span></small>
        <button class='button button-clear button-assertive' ng-click='vmChild.deleteFeature($index)'>
          <i class='icon ion-minus-circled'></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>