<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <h1 class='title'>Relationships</h1>
    <button class='button icon ion-close-round button-clear'
            ng-click='vmChild.closeModal("relationshipModal")'></button>
  </ion-header-bar>
  <ion-content class='has-header'>
    <div class='relationship-select'>
      Select observations and relationship:
    </div>
    <ion-input class='item item-input item-select item-text-wrap'>
      <select ng-model='vmChild.observationA'
              ng-options='orientation as orientation for orientation in vmChild.orientationData'>
      </select>
    </ion-input>
    <ion-input class='item item-input item-select item-text-wrap'>
      <select ng-model='vmChild.relationship'
              ng-options='relationship as relationship for relationship in vmChild.relationshipChoices'>
      </select>
    </ion-input>
    <div ng-show='vmChild.relationship === "other"'>
      <ion-input class='item item-input'>
        <input class='other-relationship' type='text' ng-model='vmChild.otherRelationship'
               placeholder='Define other relationship here ...'>
      </ion-input>
    </div>
    <ion-input class='item item-input item-select item-text-wrap'>
      <select ng-model='vmChild.observationB'
              ng-options='orientation as orientation for orientation in vmChild.orientationData'>
      </select>
    </ion-input>
    <div class='strabo-form'>
      <ion-input class='item item-input'>
        <ion-label>Deformation Event</ion-label>
        <input type='text' ng-model='vmChild.deformationEvent'
               placeholder='What deformational event(s) are these associated with?'>
      </ion-input>
    </div>
    <div ng-show='vmChild.operationAdd'>
      <button ng-click='vmChild.addThisRelationship()'
              ng-disabled='vmChild.observationA === "-- Select an Observation --"
               || vmChild.relationship === "-- Select a Relationship --"
                || vmChild.observationB === "-- Select an Observation --"'
              class='button button-clear button-positive'>
        <i class='icon ion-plus-circled'></i>
        <span class='button-text-small'>Add this Relationship</span>
      </button>
    </div>
    <div ng-show='!vmChild.operationAdd'>
      <button ng-click='vmChild.editThisRelationship()'
              ng-disabled='vmChild.observationA === "-- Select an Observation --"
               || vmChild.relationship === "-- Select a Relationship --"
                || vmChild.observationB === "-- Select an Observation --"'
              class='button button-clear button-positive'>
        <i class='icon ion-plus-circled'></i>
        <span class='button-text-small'>Edit this Relationship</span>
      </button>
    </div>

  </ion-content>
</ion-modal-view>
