<ion-view>
  <ion-content class='strabo-form'>
    <button ng-click='vmChild.createRelationship();' class='button button-clear button-positive'>
      <i class='icon ion-plus-circled'></i>
      <span class='button-text-big'>Create a Relationship</span>
    </button>
    <button ng-click='vmChild.addToRelationship();' class='button button-clear button-positive'>
      <i class='icon ion-plus-circled'></i>
      <span class='button-text-big'>Add to Existing Relationship</span>
    </button>
    <div class='padding' ng-show='vm.relationships.length === 0'>
      No Relationships use this Spot or any of the features of this Spot yet.
    </div>
    <ion-list>
      <ion-item class='item-text-wrap item-button-right'
                ng-repeat='relationship in vmChild.relationships | orderBy:"name" track by relationship.id'
                ng-click='vmChild.goToRelationship(relationship.id)'>
        <b>{{ relationship.name }}</b>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>