<ion-view>
  <ion-content>
    <button ng-click='vmChild.addSample()'
            class='button button-clear button-positive'>
      <i class='icon ion-plus-circled'></i>
      <span class='button-text-big'>Add a Sample</span>
    </button>
    <ion-list>
      <ion-item class='item-text-wrap item-button-right'
                ng-repeat='sample in vm.spot.properties.samples | orderBy: "label" track by sample.id'
                ng-click='vmChild.editSample(sample)'>
        {{ sample.label }}
        <button class='button button-clear button-assertive' ng-click='vmChild.deleteSample(sample)'>
          <i class='icon ion-minus-circled'></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
