<ion-popover-view class='fit'>
  <ion-content scroll='false'>
    <ion-list>
      <ion-item ng-click='vm.setListDetail()'>
        <i class="icon ion-document-text"></i> Set List Detail
      </ion-item>
      <ion-item ng-click='vm.deleteAllActiveSpots()'>
        <i class="icon ion-trash-b"></i> Delete All Spots
      </ion-item>
      <ion-item ng-click='vm.exportToCSV()'>
        <i class="icon ion-archive"></i> Export All Spots to CSV
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>