<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-nav-bar class='bar-dark'>
  <!-- <ion-nav-back-button>
  </ion-nav-back-button> -->
  <ion-nav-title>{{ vm.spotTitle }}</ion-nav-title>
  <ion-nav-buttons side='left'>
    <button ng-click='vm.goBack();' class='button button-icon icon ion-arrow-left-c'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button ng-click='vm.deleteSpot();' class='button button-icon icon ion-trash-b'></button>
    <button ng-click='vm.showActionsheet();' class='button button-icon icon ion-arrow-up-b'></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-header-bar class='bar-subheader'>
  <ion-scroll scrollbar-x='false' scrollbar-y='false' class='wide-as-needed'>
    <a class='button button-clear spot-tab-inactive'
       ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.spot"}'
       ng-click='vm.submit("/app/spotTab/" + vm.data.id + "/spot")'>
      Spot
    </a>
    <span ng-show='vm.showTab("orientation")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.orientation-data"}'
         ng-click='vm.submit("/app/spotTab/" + vm.data.id + "/orientation-data")'>
        Orientation
      </a>
    </span>
    <span ng-show='vm.showTab("_3dstructures")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab._3dstructures"}'
         ng-click='vm.submit("/app/spotTab/" + vm.data.id + "/_3dstructures");'>
        3D Structures
      </a>
    </span>
    <span ng-show='vm.showTab("images")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.images"}'
         ng-click='vm.submit("/app/spotTab/" + vm.data.id + "/images");'>
        Images
      </a>
    </span>
    <span ng-show='vm.showTab("sample")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.sample"}'
         ng-click='vm.submit("/app/spotTab/" + vm.data.id + "/sample");'>
        Sample
      </a>
    </span>
  </ion-scroll>
</ion-header-bar>

<ion-nav-view name='spottab-childview'></ion-nav-view>
