<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-nav-bar class='bar-dark'>
  <!-- <ion-nav-back-button>
  </ion-nav-back-button> -->
  <ion-nav-title>{{ vm.spotTitle }}</ion-nav-title>
  <ion-nav-buttons side='left'>
    <button ng-click='vm.goBack()' class='button button-icon icon ion-arrow-left-c'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button ng-click='vm.deleteSpot()' class='button button-icon icon ion-trash-b'></button>
    <button ng-click='vm.popover.show($event)' class='button button-icon icon ion-more rotate-90'></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-header-bar class='bar-subheader'>
  <ion-scroll direction='x' class='wide-as-needed'>
    <a class='button button-clear spot-tab-inactive'
       ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.spot"}'
       ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/spot")'>
      Spot
    </a>
    <span ng-show='vm.showTab("orientation")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.orientation-data"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/orientation-data")'>
        Orientation
      </a>
    </span>
    <span ng-show='vm.showTab("_3dstructures")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab._3dstructures"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/_3dstructures");'>
        3D Structures
      </a>
    </span>
        <span ng-show='vm.showTab("other_features")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.other-features"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/other-features");'>
        Other Features
      </a>
    </span>
    <span ng-show='vm.showTab("images")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.images"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/images");'>
        Images
      </a>
    </span>
    <span ng-show='vm.showTab("samples")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.samples"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/samples");'>
        Samples
      </a>
    </span>
    <span ng-show='vm.showTab("inferences")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.inferences"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/inferences");'>
        Inferences
      </a>
    </span>
    <span ng-show='vm.showTab("nest")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": vm.stateName == "app.spotTab.nest"}'
         ng-click='vm.submit("/app/spotTab/" + vm.spot.properties.id + "/nest");'>
        Nest
      </a>
    </span>
    <span>
      <a class='button button-clear spot-tab-inactive'
         ng-click='vm.submit("/app/preferences");'>
        More
      </a>
    </span>
  </ion-scroll>
</ion-header-bar>

<ion-nav-view name='spottab-childview'></ion-nav-view>
