<form name='straboForm' novalidate=''>
  <ion-view>
    <ion-content>
      <label class='item item-input item-stacked-label item-text-wrap'>
        <span class='input-label'>Spot Name</span>
        <input type='text' placeholder='Name this Spot' ng-model='vm.spot.properties.name'>
      </label>
      <label class='item item-input item-stacked-label item-text-wrap'>
        <span class='input-label'>ID</span>
        <input type='number' disabled ng-model='vm.spot.properties.id'>
      </label>
      <label class='item item-input item-stacked-label item-text-wrap'>
        <span class='input-label'>Date</span>
        <input type='date' ng-model='vm.spot.properties.date'>
      </label>
      <label class='item item-input item-stacked-label item-text-wrap'>
        <span class='input-label'>Time</span>
        <input type='time' ng-model='vm.spot.properties.time'>
      </label>

      <div ng-if='vmChild.mapped'>
        <label class='item item-input item-stacked-label item-text-wrap'>
          <span class='input-label'>Label</span>
          <input type='text' placeholder='Label on Map' ng-model='vm.spot.properties.label'>
        </label>
        <label class='item item-input item-stacked-label item-text-wrap'>
          <span class='input-label'>Geometry</span>
          <input type='text' disabled ng-model='vm.spot.geometry.type'>
        </label>
        <!-- Latitude and Longitude text boxes for Point features -->
        <label ng-show='vmChild.showLatLng'
               class='item item-input item-stacked-label item-text-wrap'
               ng-class='{ "has-errors": straboForm["lat"].$invalid, "no-errors": straboForm["lat"].$valid }'>
          <span class='input-label'>Latitude</span>
          <input type='number' name='lat' ng-model='vmChild.lat' ng-change='vmChild.updateLatitude(vmChild.lat)'
                 required min='-90' max='90'>
        </label>

        <div ng-if='straboForm["lat"].$touched'>
          <div ng-messages='straboForm["lat"].$error'>
            <div ng-messages-include='app/form/error-messages.html'></div>
          </div>
        </div>

        <label ng-show='vmChild.showLatLng'
               class='item item-input item-stacked-label item-text-wrap'
               ng-class='{ "has-errors": straboForm["lng"].$invalid, "no-errors": straboForm["lng"].$valid }'>
          <span class='input-label'>Longitude</span>
          <input type='number' name='lng' ng-model='vmChild.lng' ng-change='vmChild.updateLongitude(vmChild.lng)'
                 required min='-180' max='180'>
        </label>

        <div ng-if='straboForm["lng"].$touched'>
          <div ng-messages='straboForm["lng"].$error'>
            <div ng-messages-include='app/form/error-messages.html'></div>
          </div>
        </div>
      </div>
      <!-- X and Y text boxes for Point features mapped on an image -->
      <label ng-show='vmChild.showXY'
             class='item item-input item-stacked-label item-text-wrap'
             ng-class='{ "has-errors": straboForm["x"].$invalid, "no-errors": straboForm["y"].$valid }'>
        <span class='input-label'>Pixels in the X direction</span>
        <input type='number' name='x' ng-model='vmChild.x' ng-change='vmChild.updateX(vmChild.x)'
               required min='0'>
      </label>

      <div ng-if='straboForm["x"].$touched'>
        <div ng-messages='straboForm["x"].$error'>
          <div ng-messages-include='app/form/error-messages.html'></div>
        </div>
      </div>
      <label ng-show='vmChild.showXY'
             class='item item-input item-stacked-label item-text-wrap'
             ng-class='{ "has-errors": straboForm["y"].$invalid, "no-errors": straboForm["y"].$valid }'>
        <span class='input-label'>Pixels in the Y direction</span>
        <input type='number' name='y' ng-model='vmChild.y' ng-change='vmChild.updateY(vmChild.y)'
               required min='0'>
      </label>

      <div ng-if='straboForm["y"].$touched'>
        <div ng-messages='straboForm["y"].$error'>
          <div ng-messages-include='app/form/error-messages.html'></div>
        </div>
      </div>
      <div ng-if='!vmChild.mapped' class='padding'>
        This spot has not been mapped yet. Click on the Set from Map button below and be sure to map this feature as a
        {{vmChild.getGeometryType()}}.
      </div>
      <!-- Map Interaction -->
      <div class='row responsive-sm'>
        <div class='col'>
          <button ng-click='vmChild.viewSpot();' ng-disabled='!vmChild.viewOnMapButton'
                  class='button button-positive icon-left icon ion-eye'>
            View on Map
          </button>
        </div>
        <div class='col'>
          <button ng-click='vmChild.getCurrentLocation();' ng-disabled='!vmChild.showMyLocationButton'
                  class='button button-positive icon-left ion-pinpoint'>Set to My Location
          </button>
        </div>
        <div class='col'>
          <button ng-click='vmChild.setFromMap();' ng-disabled='!vmChild.showSetFromMapButton'
                  class='button button-positive icon-left icon ion-map'>Set From Map
          </button>
        </div>
      </div>

      <div class='item item-divider'>
        Rock Unit
      </div>
      <label class='item item-input item-select item-stacked-label item-text-wrap'>
        <span class='input-label'>Unit Label Abbreviation</span>
        <select ng-model='vmChild.rockUnit'
                ng-options='rockUnit as rockUnit.unit_label_abbreviation for rockUnit in vmChild.rockUnits |
                 orderBy: "unit_label_abbreviation"'
                ng-change="vmChild.setRockUnit()">
          <option value=''></option>
        </select>
      </label>
      <button ng-click='vmChild.viewRockUnit();' ng-show='vm.spot.properties.rock_unit'
              class='button button-clear icon-left icon ion-eye'>View/Edit Rock Unit
      </button>

      <div class='item item-divider'>
        Notes
      </div>
      <label class='item item-input'>
        <textarea placeholder='Notes about this Spot' rows='12' ng-model='vm.spot.properties.notes'></textarea>
      </label>
    </ion-content>
  </ion-view>
</form>