<form name='straboForm' novalidate=''>
  <ion-view>
    <ion-content class="strabo-form">
      <ion-input class='item item-input item-stacked-label item-text-wrap'>
        <ion-label>Spot Name</ion-label>
        <input type='text' placeholder='Name this Spot' ng-model='vm.data.name'>
      </ion-input>
      <ion-input class='item item-input item-stacked-label item-text-wrap'>
        <ion-label>ID</ion-label>
        <input type='number' disabled ng-model='vm.data.id'>
      </ion-input>
      <ion-input class='item item-input item-stacked-label item-text-wrap'>
        <ion-label>Date</ion-label>
        <input type='date' ng-model='vm.data.date'>
      </ion-input>
      <ion-input class='item item-input item-stacked-label item-text-wrap'>
        <ion-label>Time</ion-label>
        <input type='time' ng-model='vm.data.time'>
      </ion-input>

      <div class='item item-divider'>
        Geography
      </div>

      <!-- Map Interaction -->
      <div class='padding' ng-if='!vmChild.mapped'>
        This spot has not been mapped yet.
      </div>
      <button ng-click='vmChild.viewSpot();' ng-show='vmChild.mapped' class='button button-clear button-positive'>
        <i class='icon ion-eye'></i>
        <span class='button-text-small'>View on Map</span>
      </button>
      <button ng-click='vmChild.getCurrentLocation();' ng-hide='vmChild.showXY'
              class='button button-clear button-positive'>
        <i class='icon ion-pinpoint'></i>
        <span class='button-text-small'>Set to My Location</span>
      </button>
      <button ng-click='vmChild.setFromMap();' class='button button-clear button-positive'>
        <i class='icon ion-map'></i>
        <span class='button-text-small'>Set From Map</span>
      </button>

      <div ng-if='vmChild.mapped'>
        <ion-input class='item item-input item-stacked-label item-text-wrap'>
          <ion-label>Geometry</ion-label>
          <input type='text' disabled ng-model='vm.spot.geometry.type'>
        </ion-input>

        <div ng-show='vmChild.showLatLng'>
          <!-- Latitude and Longitude text boxes for Point features -->
          <ion-input ng-show='vmChild.showLatLng'
                     class='item item-input item-stacked-label item-text-wrap'
                     ng-class='{ "has-errors": straboForm["lat"].$invalid, "no-errors": straboForm["lat"].$valid }'>
            <ion-label>Latitude</ion-label>
            <input type='number' name='lat' ng-model='vmChild.lat' ng-change='vmChild.updateLatitude(vmChild.lat)'
                   required min='-90' max='90'>
          </ion-input>
          <div ng-if='straboForm["lat"].$touched'>
            <div ng-messages='straboForm["lat"].$error'>
              <div ng-messages-include='app/form/error-messages.html'></div>
            </div>
          </div>

          <ion-input class='item item-input item-stacked-label item-text-wrap'
                     ng-class='{ "has-errors": straboForm["lng"].$invalid, "no-errors": straboForm["lng"].$valid }'>
            <ion-label>Longitude</ion-label>
            <input type='number' name='lng' ng-model='vmChild.lng' ng-change='vmChild.updateLongitude(vmChild.lng)'
                   required min='-180' max='180'>
          </ion-input>
          <div ng-if='straboForm["lng"].$touched'>
            <div ng-messages='straboForm["lng"].$error'>
              <div ng-messages-include='app/form/error-messages.html'></div>
            </div>
          </div>
        </div>

        <!-- X and Y text boxes for Point features mapped on an image -->
        <div ng-show='vmChild.showXY'>
          <ion-input class='item item-input item-stacked-label item-text-wrap'
                     ng-class='{ "has-errors": straboForm["x"].$invalid, "no-errors": straboForm["y"].$valid }'>
            <ion-label>Pixels in the X direction</ion-label>
            <input type='number' name='x' ng-model='vmChild.x' ng-change='vmChild.updateX(vmChild.x)'
                   required min='0'>
          </ion-input>
          <div ng-if='straboForm["x"].$touched'>
            <div ng-messages='straboForm["x"].$error'>
              <div ng-messages-include='app/form/error-messages.html'></div>
            </div>
          </div>

          <ion-input class='item item-input item-stacked-label item-text-wrap'
                     ng-class='{ "has-errors": straboForm["y"].$invalid, "no-errors": straboForm["y"].$valid }'>
            <ion-label>Pixels in the Y direction</ion-label>
            <input type='number' name='y' ng-model='vmChild.y' ng-change='vmChild.updateY(vmChild.y)'
                   required min='0'>
          </ion-input>
          <div ng-if='straboForm["y"].$touched'>
            <div ng-messages='straboForm["y"].$error'>
              <div ng-messages-include='app/form/error-messages.html'></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show='vm.showRadius'>
        <ion-input class='item item-input item-stacked-label item-text-wrap'>
          <ion-label>Radius of Spot</ion-label>
          <input type='number' ng-model='vm.data.spot_radius'>
        </ion-input>
        <ion-input class='item item-input item-select item-text-wrap'>
          <ion-label>Spot Radius Units</ion-label>
          <select ng-model='vm.data.spot_radius_units'>
            <option>kilometer</option>
            <option>meter</option>
            <option>milimeter</option>
            <option>micrometer</option>
            <option value=''></option>
          </select>
        </ion-input>
      </div>

      <div ng-show='vm.showRockUnit'>
        <div class='item item-divider'>
          Rock Unit
        </div>
        <ion-input class='item item-input item-select item-text-wrap'>
          <ion-label>Unit Label Abbreviation</ion-label>
          <select ng-model='vmChild.rockUnit'
                  ng-options='rockUnit as rockUnit.unit_label_abbreviation for rockUnit in vmChild.rockUnits |
                 orderBy: "unit_label_abbreviation"'
                  ng-change="vmChild.setRockUnit()">
            <option value=''></option>
          </select>
        </ion-input>
        <button ng-click='vmChild.viewRockUnit();' ng-show='vm.data.rock_unit'
                class='button button-clear button-positive'>
          <i class='icon ion-eye'></i>
          <span class='button-text-small'>View/Edit Rock Unit</span>
        </button>
      </div>

      <div ng-show='vm.showTrace'>
        <div class='item item-divider'>
          Trace Feature
        </div>
        <div>
          <auto-fields/>
        </div>
      </div>

      <div class='item item-divider'>
        Notes
      </div>
      <ion-input class='item item-input'>
        <textarea placeholder='Notes about this Spot' rows='12' ng-model='vm.data.notes'></textarea>
      </ion-input>
    </ion-content>
  </ion-view>
</form>