<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-nav-bar class='bar-dark'>
  <!-- <ion-nav-back-button>
  </ion-nav-back-button> -->
  <ion-nav-title>{{ vm.spotTitle }}</ion-nav-title>
  <ion-nav-buttons side='left'>
    <button ng-click='vm.goToSpots();' class='button button-icon icon ion-arrow-left-c'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button ng-click='vm.copySpot();' class='button button-icon icon ion-forward'></button>
    <button ng-click='vm.deleteSpot();' class='button button-icon icon ion-trash-b'></button>
    <button ng-click='vm.submit();' class='button button-icon icon ion-checkmark-circled'></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-header-bar class='bar-subheader'>
  <ion-scroll direction='x' class='wide-as-needed'>
    <a class='button button-clear spot-tab-inactive'
       ng-class='{ "spot-tab-active": $state.current.name == "spotTab.spot"}'
       ng-click='vm.switchTabs("spot");'>
      Spot
    </a>
    <span ng-show='vm.showTab("orientation")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.orientation"}'
         ng-click='vm.switchTabs("orientation")'>
        Orientation
      </a>
    </span>
        <span ng-show='vm.showTab("orientation")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.orientation2"}'
         ng-click='vm.switchTabs("orientation2")'>
        Orientation2
      </a>
    </span>
    <span ng-show='vm.showTab("_3dstructures")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab._3dstructures"}'
         ng-click='vm.switchTabs("_3dstructures");'>
        3D Structures
      </a>
    </span>
    <span ng-show='vm.showTab("images")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.images"}'
         ng-click='vm.switchTabs("images");'>
        Images
      </a>
    </span>
    <span ng-show='vm.showLinks'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.links"}'
         ng-click='vm.switchTabs("links");'>
        Links
      </a>
    </span>
    <span ng-show='vm.showGroups'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.groups"}'
         ng-click='vm.switchTabs("groups");'>
        Groups
      </a>
    </span>
    <span ng-show='vm.showGroupMembers'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.groupmemebers"}'
         ng-click='vm.switchTabs("groupmembers");'>
        Group Members
      </a>
    </span>
    <span ng-show='vm.showTab("sample")'>
      <a class='button button-clear spot-tab-inactive'
         ng-class='{ "spot-tab-active": $state.current.name == "spotTab.sample"}'
         ng-click='vm.switchTabs("sample");'>
        Sample
      </a>
    </span>
    <a class='button button-clear spot-tab-inactive'
       ng-class='{ "spot-tab-active": $state.current.name == "spotTab.custom"}'
       ng-click='vm.switchTabs("custom");'>
      Custom
    </a>
  </ion-scroll>
</ion-header-bar>

<ion-nav-view name='spottab-childview'></ion-nav-view>
