<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
    <button class='button button-clear' ng-click='vm.closeModal("colorPickerModal")'>
      <span class='icon ion-arrow-left-c'></span>
    </button>
    <h1 class='title'>Select a Custom Color</h1>
  </ion-header-bar>
  <ion-content class='has-header padding'>
    <div class="row">
      <div class="col" style="background:#330000" ng-click="vm.setColor('#330000')">&nbsp;</div>
      <div class="col" style="background:#331900" ng-click="vm.setColor('#331900')">&nbsp;</div>
      <div class="col" style="background:#333300" ng-click="vm.setColor('#333300')">&nbsp;</div>
      <div class="col" style="background:#193300" ng-click="vm.setColor('#193300')">&nbsp;</div>
      <div class="col" style="background:#003300" ng-click="vm.setColor('#003300')">&nbsp;</div>
      <div class="col" style="background:#003319" ng-click="vm.setColor('#003319')">&nbsp;</div>
      <div class="col" style="background:#003333" ng-click="vm.setColor('#003333')">&nbsp;</div>
      <div class="col" style="background:#001933" ng-click="vm.setColor('#001933')">&nbsp;</div>
      <div class="col" style="background:#000033" ng-click="vm.setColor('#000033')">&nbsp;</div>
      <div class="col" style="background:#190033" ng-click="vm.setColor('#190033')">&nbsp;</div>
      <div class="col" style="background:#330033" ng-click="vm.setColor('#330033')">&nbsp;</div>
      <div class="col" style="background:#330019" ng-click="vm.setColor('#330019')">&nbsp;</div>
      <div class="col" style="background:#000000" ng-click="vm.setColor('#000000')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#660000" ng-click="vm.setColor('#660000')">&nbsp;</div>
      <div class="col" style="background:#663300" ng-click="vm.setColor('#663300')">&nbsp;</div>
      <div class="col" style="background:#666600" ng-click="vm.setColor('#666600')">&nbsp;</div>
      <div class="col" style="background:#336600" ng-click="vm.setColor('#336600')">&nbsp;</div>
      <div class="col" style="background:#006600" ng-click="vm.setColor('#006600')">&nbsp;</div>
      <div class="col" style="background:#006633" ng-click="vm.setColor('#006633')">&nbsp;</div>
      <div class="col" style="background:#006666" ng-click="vm.setColor('#006666')">&nbsp;</div>
      <div class="col" style="background:#003366" ng-click="vm.setColor('#003366')">&nbsp;</div>
      <div class="col" style="background:#000066" ng-click="vm.setColor('#000066')">&nbsp;</div>
      <div class="col" style="background:#330066" ng-click="vm.setColor('#330066')">&nbsp;</div>
      <div class="col" style="background:#660066" ng-click="vm.setColor('#660066')">&nbsp;</div>
      <div class="col" style="background:#660033" ng-click="vm.setColor('#660033')">&nbsp;</div>
      <div class="col" style="background:#202020" ng-click="vm.setColor('#202020')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#990000" ng-click="vm.setColor('#990000')">&nbsp;</div>
      <div class="col" style="background:#994C00" ng-click="vm.setColor('#994C00')">&nbsp;</div>
      <div class="col" style="background:#999900" ng-click="vm.setColor('#999900')">&nbsp;</div>
      <div class="col" style="background:#4C9900" ng-click="vm.setColor('#4C9900')">&nbsp;</div>
      <div class="col" style="background:#009900" ng-click="vm.setColor('#009900')">&nbsp;</div>
      <div class="col" style="background:#00994C" ng-click="vm.setColor('#00994C')">&nbsp;</div>
      <div class="col" style="background:#009999" ng-click="vm.setColor('#009999')">&nbsp;</div>
      <div class="col" style="background:#004C99" ng-click="vm.setColor('#004C99')">&nbsp;</div>
      <div class="col" style="background:#000099" ng-click="vm.setColor('#000099')">&nbsp;</div>
      <div class="col" style="background:#4C0099" ng-click="vm.setColor('#4C0099')">&nbsp;</div>
      <div class="col" style="background:#990099" ng-click="vm.setColor('#990099')">&nbsp;</div>
      <div class="col" style="background:#99004C" ng-click="vm.setColor('#99004C')">&nbsp;</div>
      <div class="col" style="background:#404040" ng-click="vm.setColor('#404040')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#CC0000" ng-click="vm.setColor('#CC0000')">&nbsp;</div>
      <div class="col" style="background:#CC6600" ng-click="vm.setColor('#CC6600')">&nbsp;</div>
      <div class="col" style="background:#CCCC00" ng-click="vm.setColor('#CCCC00')">&nbsp;</div>
      <div class="col" style="background:#66CC00" ng-click="vm.setColor('#66CC00')">&nbsp;</div>
      <div class="col" style="background:#00CC00" ng-click="vm.setColor('#00CC00')">&nbsp;</div>
      <div class="col" style="background:#00CC66" ng-click="vm.setColor('#00CC66')">&nbsp;</div>
      <div class="col" style="background:#00CCCC" ng-click="vm.setColor('#00CCCC')">&nbsp;</div>
      <div class="col" style="background:#0066CC" ng-click="vm.setColor('#0066CC')">&nbsp;</div>
      <div class="col" style="background:#0000CC" ng-click="vm.setColor('#0000CC')">&nbsp;</div>
      <div class="col" style="background:#6600CC" ng-click="vm.setColor('#6600CC')">&nbsp;</div>
      <div class="col" style="background:#CC00CC" ng-click="vm.setColor('#CC00CC')">&nbsp;</div>
      <div class="col" style="background:#CC0066" ng-click="vm.setColor('#CC0066')">&nbsp;</div>
      <div class="col" style="background:#606060" ng-click="vm.setColor('#606060')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#FF0000" ng-click="vm.setColor('#FF0000')">&nbsp;</div>
      <div class="col" style="background:#FF8000" ng-click="vm.setColor('#FF8000')">&nbsp;</div>
      <div class="col" style="background:#FFFF00" ng-click="vm.setColor('#FFFF00')">&nbsp;</div>
      <div class="col" style="background:#80FF00" ng-click="vm.setColor('#80FF00')">&nbsp;</div>
      <div class="col" style="background:#00FF00" ng-click="vm.setColor('#00FF00')">&nbsp;</div>
      <div class="col" style="background:#00FF80" ng-click="vm.setColor('#00FF80')">&nbsp;</div>
      <div class="col" style="background:#00FFFF" ng-click="vm.setColor('#00FFFF')">&nbsp;</div>
      <div class="col" style="background:#0080FF" ng-click="vm.setColor('#0080FF')">&nbsp;</div>
      <div class="col" style="background:#0000FF" ng-click="vm.setColor('#0000FF')">&nbsp;</div>
      <div class="col" style="background:#7F00FF" ng-click="vm.setColor('#7F00FF')">&nbsp;</div>
      <div class="col" style="background:#FF00FF" ng-click="vm.setColor('#FF00FF')">&nbsp;</div>
      <div class="col" style="background:#FF007F" ng-click="vm.setColor('#FF007F')">&nbsp;</div>
      <div class="col" style="background:#808080" ng-click="vm.setColor('#808080')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#FF3333" ng-click="vm.setColor('#FF3333')">&nbsp;</div>
      <div class="col" style="background:#FF9933" ng-click="vm.setColor('#FF9933')">&nbsp;</div>
      <div class="col" style="background:#FFFF33" ng-click="vm.setColor('#FFFF33')">&nbsp;</div>
      <div class="col" style="background:#99FF33" ng-click="vm.setColor('#99FF33')">&nbsp;</div>
      <div class="col" style="background:#33FF33" ng-click="vm.setColor('#33FF33')">&nbsp;</div>
      <div class="col" style="background:#33FF99" ng-click="vm.setColor('#33FF99')">&nbsp;</div>
      <div class="col" style="background:#33FFFF" ng-click="vm.setColor('#33FFFF')">&nbsp;</div>
      <div class="col" style="background:#3399FF" ng-click="vm.setColor('#3399FF')">&nbsp;</div>
      <div class="col" style="background:#3333FF" ng-click="vm.setColor('#3333FF')">&nbsp;</div>
      <div class="col" style="background:#9933FF" ng-click="vm.setColor('#9933FF')">&nbsp;</div>
      <div class="col" style="background:#FF33FF" ng-click="vm.setColor('#FF33FF')">&nbsp;</div>
      <div class="col" style="background:#FF3399" ng-click="vm.setColor('#FF3399')">&nbsp;</div>
      <div class="col" style="background:#A0A0A0" ng-click="vm.setColor('#A0A0A0')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#FF6666" ng-click="vm.setColor('#FF6666')">&nbsp;</div>
      <div class="col" style="background:#FFB266" ng-click="vm.setColor('#FFB266')">&nbsp;</div>
      <div class="col" style="background:#FFFF66" ng-click="vm.setColor('#FFFF66')">&nbsp;</div>
      <div class="col" style="background:#B2FF66" ng-click="vm.setColor('#B2FF66')">&nbsp;</div>
      <div class="col" style="background:#66FF66" ng-click="vm.setColor('#66FF66')">&nbsp;</div>
      <div class="col" style="background:#66FFB2" ng-click="vm.setColor('#66FFB2')">&nbsp;</div>
      <div class="col" style="background:#66FFFF" ng-click="vm.setColor('#66FFFF')">&nbsp;</div>
      <div class="col" style="background:#66B2FF" ng-click="vm.setColor('#66B2FF')">&nbsp;</div>
      <div class="col" style="background:#6666FF" ng-click="vm.setColor('#6666FF')">&nbsp;</div>
      <div class="col" style="background:#B266FF" ng-click="vm.setColor('#B266FF')">&nbsp;</div>
      <div class="col" style="background:#FF66FF" ng-click="vm.setColor('#FF66FF')">&nbsp;</div>
      <div class="col" style="background:#FF66B2" ng-click="vm.setColor('#FF66B2')">&nbsp;</div>
      <div class="col" style="background:#C0C0C0" ng-click="vm.setColor('#C0C0C0')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#FF9999" ng-click="vm.setColor('#FF9999')">&nbsp;</div>
      <div class="col" style="background:#FFCC99" ng-click="vm.setColor('#FFCC99')">&nbsp;</div>
      <div class="col" style="background:#FFFF99" ng-click="vm.setColor('#FFFF99')">&nbsp;</div>
      <div class="col" style="background:#CCFF99" ng-click="vm.setColor('#CCFF99')">&nbsp;</div>
      <div class="col" style="background:#99FF99" ng-click="vm.setColor('#99FF99')">&nbsp;</div>
      <div class="col" style="background:#99FFCC" ng-click="vm.setColor('#99FFCC')">&nbsp;</div>
      <div class="col" style="background:#99FFFF" ng-click="vm.setColor('#99FFFF')">&nbsp;</div>
      <div class="col" style="background:#99CCFF" ng-click="vm.setColor('#99CCFF')">&nbsp;</div>
      <div class="col" style="background:#9999FF" ng-click="vm.setColor('#9999FF')">&nbsp;</div>
      <div class="col" style="background:#CC99FF" ng-click="vm.setColor('#CC99FF')">&nbsp;</div>
      <div class="col" style="background:#FF99FF" ng-click="vm.setColor('#FF99FF')">&nbsp;</div>
      <div class="col" style="background:#FF99CC" ng-click="vm.setColor('#FF99CC')">&nbsp;</div>
      <div class="col" style="background:#E0E0E0" ng-click="vm.setColor('#E0E0E0')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col" style="background:#FFCCCC" ng-click="vm.setColor('#FFCCCC')">&nbsp;</div>
      <div class="col" style="background:#FFE5CC" ng-click="vm.setColor('#FFE5CC')">&nbsp;</div>
      <div class="col" style="background:#FFFFCC" ng-click="vm.setColor('#FFFFCC')">&nbsp;</div>
      <div class="col" style="background:#E5FFCC" ng-click="vm.setColor('#E5FFCC')">&nbsp;</div>
      <div class="col" style="background:#CCFFCC" ng-click="vm.setColor('#CCFFCC')">&nbsp;</div>
      <div class="col" style="background:#CCFFE5" ng-click="vm.setColor('#CCFFE5')">&nbsp;</div>
      <div class="col" style="background:#CCFFFF" ng-click="vm.setColor('#CCFFFF')">&nbsp;</div>
      <div class="col" style="background:#CCE5FF" ng-click="vm.setColor('#CCE5FF')">&nbsp;</div>
      <div class="col" style="background:#CCCCFF" ng-click="vm.setColor('#CCCCFF')">&nbsp;</div>
      <div class="col" style="background:#E5CCFF" ng-click="vm.setColor('#E5CCFF')">&nbsp;</div>
      <div class="col" style="background:#FFCCFF" ng-click="vm.setColor('#FFCCFF')">&nbsp;</div>
      <div class="col" style="background:#FFCCE5" ng-click="vm.setColor('#FFCCE5')">&nbsp;</div>
      <div class="col" style="background:#FFFFFF" ng-click="vm.setColor('#FFFFFF')">&nbsp;</div>
    </div>
    <br>
    <button class='button button-stable' ng-click='vm.clearColor()'>
      Clear Custom Color
    </button>
  </ion-content>
</ion-modal-view>