<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7' align-title='center'>
    <button class='button button-clear' ng-click='vm.closeModal("newNestModal")'>
      <span class='icon ion-arrow-left-c'></span>
    </button>
    <h1 class='title'>Start Nesting</h1>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <ion-input class='item item-input item-stacked-label item-text-wrap'>
      <ion-label>Nest Name</ion-label>
      <input type='text' placeholder='Name this Nest' ng-model='vm.newNestProperties.name'>
    </ion-input>
    <form name='straboForm' novalidate=''>
      <auto-fields/>
    </form>
    <p class='padding'><small><b>About Nesting:</b> Nesting allows for the spatial grouping of Spots by creating a polygon Spot which contains all
      new Spots created while Nesting is turned on. Nesting will also add an existing Spot to this Nest Spot if the page
      for that Spot is accessed while Nesting is turned on. Alternatively, once Nesting is turned off Spots can be added
      to (or removed from) a Nest Spot by editing the shape of the Nest Spot to include (or exclude) any other Spots.
      <br><br>
      <b>Tip:</b> The first Spot added to a new Nest Spot determines the map that will be applicable to the Nest Spot. That is
      if Nesting begins on a particular image basemap, only Spots mapped on the exact same image basemap will be
      considered as part of the Nest.</small></p>
  </ion-content>
</ion-modal-view>