<ion-view>
  <ion-content>
    <div ng-if="mapped">
      <label class="item item-input item-stacked-label item-text-wrap">
        <span class="input-label">Geometry</span>
        <input type="text" disabled ng-model="spot.geometry.type">
      </label>
      <label class="item item-input item-stacked-label item-text-wrap" ng-show="showLatLng">
        <span class="input-label">Latitude</span>
        <input type="number" ng-model="point.latitude" value={{point.latitude}}>
      </label>
      <label class="item item-input item-stacked-label item-text-wrap" ng-show="showLatLng">
        <span class="input-label">Longitude</span>
        <input type="number" ng-model="point.longitude" value={{point.longitude}}>
      </label>
    </div>
    <div ng-if="!mapped" class="padding">
      This spot has not been mapped yet. Click on the Set from Map button below and be sure to map this feature as a {{spot.geometry.type}}.
    </div>
      <!-- Map Interaction -->
    <div class="row responsive-sm">
      <div class="col" ng-show="mapped" >
        <button ng-click="goToSpot();" class="button button-positive icon-left icon ion-eye">View on Map</button>
      </div>
      <div class="col" ng-show="showMyLocationButton">
        <button ng-click="getLocation();" class="button button-positive icon-left ion-pinpoint">Set to My Location</button>
      </div>
      <div class="col" ng-show="showSetFromMapButton">
        <button ng-click="openMap();" class="button button-positive icon-left icon ion-map">Set From Map</button>
      </div>
    </div>
  </ion-content>
</ion-view>