<ion-view title="Spot Info">
  <ion-nav-buttons side="left">
    <button ng-click="goToSpots();" class="button button-icon icon ion-arrow-left-c"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="deleteSpot();" class="button button-icon icon ion-trash-b"></button>
    <button ng-click="submit();" class="button button-icon icon ion-checkmark-circled"></button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader">
    <ion-scroll direction="x" class="wide-as-needed">
      <a class="button inline-button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/details">Details</a>
      <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/notes">Notes</a>
      <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/pictures">Photos</a>
      <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/georeference">Georeference</a>
      <span ng-show="showLinks">
        <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/links">Links</a>
      </span>
      <span ng-show="showGroups">
        <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/groups">Groups</a>
      </span>
      <a class="button button-clear button-light spot-tab-active" href="#/app/spots/{{spot.properties.id}}/groupmembers">Group Members</a>
      <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/rockdescription">Rock Description</a>
      <a class="button button-clear spot-tab-inactive" href="#/app/spots/{{spot.properties.id}}/rocksample">Rock Sample</a>
    </ion-scroll>
  </ion-header-bar>

  <ion-content>
    <div class="item item-divider">
      Group Members
    </div>
    <div>
      <button ng-click="addGroupMember();" class="button button-positive icon-left icon ion-plus-round">Add or Edit Members of this Group</button>
    </div>
    <ion-list>
      <ion-item ng-repeat="item in group_members_selected" ng-click="openSpot(item.id);">
        {{ item.name }} <small>({{ item.type }})</small>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>