# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
hooks/
platforms/
plugins/
resources/android
resources/ios
scss/
.bowerrc
bower.json
info.txt
gulpfile.js
.idea
.editorconfig
.vscode/

# Ignore Mac DS_Store files
.DS_Store
