# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
hooks/
platforms/
plugins/

plugins/
scss/
.bowerrc
bower.json
gulpfile.js
ionic.project
package.json