<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Config for PhoneGap Build -->

<widget
    id="gov.az.azgs.strabomobile"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Strabo Mobile</name>
  <description>
    Strabo Mobile is a cross-platform app for geologic field data acquisition.
  </description>
  <author email="strabospot@gmail.com" href="http://strabospot.org/">
    StraboSpot Team
  </author>

  <platform name="ios"/>
  <platform name="android"/>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="phonegap-version" value="cli-7.0.1"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="android-targetSdkVersion" value="22"/>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="iosPersistentFileLocation" value="Library"/>
  <preference name="SplashScreen" value="splash"/>

  <gap:config-file platform="ios" parent="UIFileSharingEnabled" mode="replace">
    <true/>
  </gap:config-file>

  <plugin name="cordova-plugin-camera" spec="2.3.1">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="The strabospot app uses the camera to add photos to data." />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="StraboSpot uses the photo library to add user-selected images to data." />
    <variable name="NSPhotoLibraryAddUsageDescription" value="StraboSpot uses the photo library to add user-selected images to data." />
  </plugin>
  <plugin name="com.verso.cordova.clipboard" spec="https://github.com/VersoSolutions/CordovaClipboard" />
  <plugin name="cordova-plugin-console" spec="1.0.2"/>
  <plugin name="cordova-plugin-device" spec="1.1.1"/>
  <plugin name="cordova-plugin-device-motion" spec="1.2.1"/>
  <plugin name="cordova-plugin-device-orientation" spec="1.0.3"/>
  <plugin name="cordova-plugin-file" spec="4.1.1"/>
  <plugin name="cordova-plugin-filepath" spec="1.0.2"/>
  <plugin name="cordova-plugin-geolocation" spec="2.4.1"/>
  <plugin name="cordova-plugin-inappbrowser" spec="1.5.0"/>
  <plugin name="cordova-plugin-ionic-keyboard" spec="2.0.5"/>
  <plugin name="cordova-plugin-network-information" spec="1.2.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="3.2.1"/>
  <plugin name="cordova-plugin-whitelist" spec="1.2.1"/>
  <plugin name="cordova-plugin-statusbar" spec="2.1.3"/>
  <plugin name="cordova-sqlite-storage" spec="0.7.14"/>
  <plugin name="cordova-plugin-itunesfilesharing" spec="^0.0.1" />

  <platform name="ios">
    <icon src="www/res/icons/ios/icon-small.png" width="29" height="29"/>
    <icon src="www/res/icons/ios/icon-small-2x.png" width="58" height="58"/>
    <icon src="www/res/icons/ios/icon-40.png" width="40" height="40"/>
    <icon src="www/res/icons/ios/icon-40-2x.png" width="80" height="80"/>
    <icon src="www/res/icons/ios/icon-50.png" width="50" height="50"/>
    <icon src="www/res/icons/ios/icon-50-2x.png" width="100" height="100"/>
    <icon src="www/res/icons/ios/icon.png" width="57" height="57"/>
    <icon src="www/res/icons/ios/icon-2x.png" width="114" height="114"/>
    <icon src="www/res/icons/ios/icon-60.png" width="60" height="60"/>
    <icon src="www/res/icons/ios/icon-60-2x.png" width="120" height="120"/>
    <icon src="www/res/icons/ios/icon-60-3x.png" width="180" height="180"/>
    <icon src="www/res/icons/ios/icon-72.png" width="72" height="72"/>
    <icon src="www/res/icons/ios/icon-72-2x.png" width="144" height="144"/>
    <icon src="www/res/icons/ios/icon-76.png" width="76" height="76"/>
    <icon src="www/res/icons/ios/icon-76-2x.png" width="152" height="152"/>
    <splash src="www/res/screens/ios/screen-iphone-portrait.png" width="320" height="480"/>
    <splash src="www/res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
    <splash src="www/res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
    <splash src="www/res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334"/>
    <splash src="www/res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208"/>
    <splash src="www/res/screens/ios/screen-ipad-portrait.png" width="768" height="1024"/>
    <splash src="www/res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048"/>
  </platform>

  <platform name="android">
    <icon qualifier="ldpi" src="www/res/icons/android/icon-36-ldpi.png"/>
    <icon qualifier="mdpi" src="www/res/icons/android/icon-48-mdpi.png"/>
    <icon qualifier="hdpi" src="www/res/icons/android/icon-72-hdpi.png"/>
    <icon qualifier="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png"/>
    <icon qualifier="xxhdpi" src="www/res/icons/android/icon-144-xxhdpi.png"/>
    <icon qualifier="xxxhdpi" src="www/res/icons/android/icon-192-xxxhdpi.png"/>
    <splash qualifier="ldpi" src="www/res/screens/android/screen-ldpi-portrait.png"/>
    <splash qualifier="mdpi" src="www/res/screens/android/screen-mdpi-portrait.png"/>
    <splash qualifier="hdpi" src="www/res/screens/android/screen-hdpi-portrait.png"/>
    <splash qualifier="xhdpi" src="www/res/screens/android/screen-xhdpi-portrait.png"/>
  </platform>
</widget>