<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
    <button class='button button-positive'
            ng-click='vm.saveInterval()'>Save
    </button>
    <h1 class='title'>Add Strat Interval</h1>
    <button class='button icon ion-close-round close-modal-button'
            ng-click='vm.addIntervalModal.remove()'>
    </button>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <form name='straboForm' novalidate=''>
      <auto-fields/>
    </form>
  </ion-content>
</ion-modal-view>
