<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7'>
    <button class='button icon ion-checkmark-circled button-clear'
            ng-click='vm.save()'>
    </button>
    <h1 class='title'>{{ vm.modalTitle }}</h1>
    <div class='button button-clear' ng-click='vm.closeModal("addMapModal")'><span class='icon ion-close'></span></div>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <ion-input class='item item-input item-select item-stacked-label item-text-wrap'>
      <ion-label>Map Type</ion-label>
      <select ng-model='vm.data.source'
              ng-options='mapSource.source as mapSource.name for mapSource in vm.mapSources'
              ng-change='vm.toggleHelpText();vm.toggleTokenInput();'>
        <option value=''>-- Select Map Type --</option>
      </select>
    </ion-input>
    <div ng-show='vm.data.source'>
      <label class='item item-input item-stacked-label item-text-wrap'>
        <span class='input-label'>My Map Title</span>
        <input type='text' ng-model='vm.data.title'>
      </label>
      <label class='item item-input item-stacked-label item-text-wrap'>
        <span class='input-label'>{{ vm.getIdLabel() }}</span>
        <input type='text' ng-model='vm.data.id'>
      </label>
      <div ng-show='vm.showTokenInput'>
        <label class='item item-input item-stacked-label item-text-wrap'>
          <span class='input-label'>Access Token</span>
          <input type='text' ng-model='vm.data.key'>
        </label>
      </div>
      <ion-toggle
        ng-checked='vm.data.overlay'
        toggle-class='toggle-positive'
        ng-model='vm.data.overlay'>
        <span class='toggle-left-label'>Set Map as Overlay</span>
      </ion-toggle>
      <div class='range'>
        <i class='circle hollow'></i>
          <input type='range' class='strabo-range' name='opacity' ng-model='vm.data.opacity' min='0' max='1' step='.1'>
        <i class='circle filled'></i>
      </div>
      <p class='padding-left'>Opacity: {{ vm.data.opacity }}</p>
      <div ng-show='vm.showHelpText'>
        <div class='padding'><b>Connection Properties Help</b><br>
          {{ vm.getHelpText() }}
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
