<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <button class='button icon ion-checkmark-circled button-clear'
            ng-click='vm.save()'>
    </button>
    <h1 class='title'>{{ vm.modalTitle }}</h1>
    <div class='button button-clear' ng-click='vm.closeModal("addMapModal")'><span class='icon ion-close'></span></div>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <ion-input class='item item-input item-select item-text-wrap'>
      <ion-label>Map Type</ion-label>
      <select ng-model='vm.data.source'
              ng-options='mapSource.source as mapSource.name for mapSource in vm.mapSources'
              ng-change='vm.toggleHelpText();vm.toggleTokenInput();'>
        <option value=''></option>
      </select>
    </ion-input>
    <label class='item item-input item-stacked-label item-text-wrap'>
      <span class='input-label'>My Map Title</span>
      <input type='text' ng-model='vm.data.title'>
    </label>
    <label class='item item-input item-stacked-label item-text-wrap'>
      <span class='input-label'>{{ vm.getIdLabel() }}</span>
      <input type='text' ng-model='vm.data.id'>
    </label>
    <div ng-show='vm.showTokenInput'>
    <label class='item item-input item-stacked-label item-text-wrap'>
      <span class='input-label'>Access Token</span>
      <input type='text' ng-model='vm.data.key'>
    </label>
    </div>
    <div ng-show='vm.showHelpText'>
      <div class='padding'><b>Connection Properties Help</b><br>
        {{ vm.getHelpText() }}
      </div>
    </div>
  </ion-content>
</ion-modal-view>
