<div>
  <div class='button-bar'>
    <button class='button' ng-class="{'button-positive': vmChild.structuresForm === 'structures_physical'}"
            ng-click='vmChild.switchForm("structures_physical")'>Physical</button>
    <button class='button' ng-class="{'button-positive': vmChild.structuresForm === 'structures_biogenic'}"
            ng-click='vmChild.switchForm("structures_biogenic")'>Biogenic</button>
    <button class='button' ng-class="{'button-positive': vmChild.structuresForm === 'structures_chemogenic'}"
            ng-click='vmChild.switchForm("structures_chemogenic")'>Chemogenic</button>
    <button class='button' ng-class="{'button-positive': vmChild.structuresForm === 'structures_pedogenic'}"
            ng-click='vmChild.switchForm("structures_pedogenic")'>Pedogenic</button>
  </div>
  <strabo-sed-characteristics-field-directive></strabo-sed-characteristics-field-directive>
  <strabo-sed-lithology-buttons-directive/>
  <form name='straboForm' novalidate=''>
    <auto-fields/>
  </form>
</div>
