<div>
  <div class='padding-left filter-on' ng-show='vm.isFilterOn'>
    Results are being filtered.
  </div>
  <div class='padding' ng-show='!vm.isFilterOn && vm.spots.length === 0'>
    No Spots added to any of the active datasets yet. Add a spot using the '+' button in the top right or by drawing a
    point, line or polygon on the
    Main Map page.
  </div>
  <div class='padding' ng-show='vm.isFilterOn && vm.spots.length === 0'>
    No results. Try modifying or removing your filter.
  </div>
  <ion-list>
    <ion-item class='item-text-wrap item-button-right'
              ng-repeat='spot in vm.spotsDisplayed track by spot.properties.id'>
      <div ng-click='vm.goToSpot(spot.properties.id)'>
        <strabo-spots-list-directive></strabo-spots-list-directive>
        <span ng-show='vm.showDetail.tabs'>
          <strabo-spots-list-tabs-detail-directive></strabo-spots-list-tabs-detail-directive>
        </span>
        <div ng-show='vm.showDetail.tags'>
            <span ng-show='vm.hasTags(spot.properties.id)' class='list-sub'>
              Tags: {{ vm.getTagNames(spot.properties.id) }}
            </span>
        </div>
      </div>
      <button class='button button-clear button-assertive'
              ng-click='vm.deleteSpot(spot)'>
        <i class='icon ion-minus-circled'></i>
      </button>
    </ion-item>
    <ion-infinite-scroll
      ng-if='!vm.isWeb() && vm.moreSpotsCanBeLoaded()'
      icon='ion-loading-c'
      on-infinite='vm.loadMoreSpots()'>
    </ion-infinite-scroll>
  </ion-list>
</div>
