<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7' align-title='center'>
    <button ng-click='vm.closeModal("filterModal")' class='button button-icon icon ion-arrow-left-c'></button>
    <h1 class='title'>Filter</h1>
  </ion-header-bar>
  <ion-content class='has-header'>
    <div class='field-group item item-divider'>
      Datasets
    </div>
    <ion-checkbox ng-repeat='dataset in vm.activeDatasets'
                  ng-checked='vm.isDatasetChecked(dataset.id)'
                  ng-click='vm.checkedDataset(dataset.id)'>
      {{ dataset.name }}
    </ion-checkbox>
    <br>
    <button ng-click='vm.resetFilters()'
            class='button button-clear button-positive'>
      <i class='icon ion-refresh'></i>
      <span class='button-text-big'>Reset All Filters</span>
    </button>
  </ion-content>
</ion-modal-view>