<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
    <h1 class='title'>Filters</h1>
    <div class='buttons'>
      <button class='icon ion-close-round close-modal-button'
              ng-click='vm.filterModal.hide()'></button>
    </div>
  </ion-header-bar>
  <ion-content class='has-header'>
    <ion-toggle
      ng-checked='vm.filterConditions.name'
      ng-click='vm.toggleFilter("name", [])'
      toggle-class='toggle-positive'>
      <span class='toggle-left-label'>Name</span>
    </ion-toggle>
    <div ng-show='vm.filterConditions.name'>
      <ion-input class='item item-input item-text-wrap text-center'>
        <input type='text' class='text-center' placeholder='Enter Name String or Substring Here'
               ng-model='vm.filterConditions.name'>
      </ion-input>
    </div>
    <ion-toggle
      ng-checked='vm.filterConditions.date'
      ng-click='vm.toggleFilter("date", {})'
      toggle-class='toggle-positive'>
      <span class='toggle-left-label'>Date</span>
    </ion-toggle>
    <div ng-show='vm.filterConditions.date'>
      <div class="row">
        <div class="col">
          <ion-input class='date-filter-right'>
            <input type='date' ng-model='vm.filterConditions.date.start'>
            <ion-label class='date-filter-label'>Start Date</ion-label>
          </ion-input>
        </div>
        <div class="col col-10 col-center">-</div>
        <div class="col">
          <ion-input class='date-filter-left'>
            <input type='date' ng-model='vm.filterConditions.date.end'>
            <ion-label class='date-filter-label'>End Date</ion-label>
          </ion-input>
        </div>
      </div>
    </div>
    <ion-toggle
      ng-checked='vm.filterConditions.dateModified'
      ng-click='vm.toggleFilter("dateModified", {})'
      toggle-class='toggle-positive'>
      <span class='toggle-left-label'>Date Modified</span>
    </ion-toggle>
    <div ng-show='vm.filterConditions.dateModified'>
      <div class="row">
        <div class="col">
          <ion-input class='date-filter-right'>
            <input type='date' ng-model='vm.filterConditions.dateModified.start'>
            <ion-label class='date-filter-label'>Start Date</ion-label>
          </ion-input>
        </div>
        <div class="col col-10 col-center">-</div>
        <div class="col">
          <ion-input class='date-filter-left'>
            <input type='date' ng-model='vm.filterConditions.dateModified.end'>
            <ion-label class='date-filter-label'>End Date</ion-label>
          </ion-input>
        </div>
      </div>
    </div>
    <ion-toggle
      ng-checked='vm.filterConditions.datasets'
      ng-click='vm.toggleFilter("datasets", [])'
      toggle-class='toggle-positive'>
      <span class='toggle-left-label'>Dataset</span>
    </ion-toggle>
    <div ng-show='vm.filterConditions.datasets'>
      <ion-checkbox ng-repeat='dataset in vm.activeDatasets'
                    ng-checked='vm.isFilterConditionChecked("datasets", dataset.id)'
                    ng-click='vm.checkedFilterCondition("datasets", dataset.id)'>
        {{ dataset.name }}
      </ion-checkbox>
    </div>
    <ion-toggle
      ng-checked='vm.filterConditions.spotType'
      ng-click='vm.toggleFilter("spotType", [])'
      toggle-class='toggle-positive'>
      <span class='toggle-left-label'>Spot Type</span>
    </ion-toggle>
    <div ng-show='vm.filterConditions.spotType'>
      <ion-checkbox ng-checked='vm.isFilterConditionChecked("spotType", "geo")'
                    ng-click='vm.checkedFilterCondition("spotType", "geo")'>
        Geographic Spots
      </ion-checkbox>
      <ion-checkbox ng-checked='vm.isFilterConditionChecked("spotType", "image-basemap")'
                    ng-click='vm.checkedFilterCondition("spotType", "image-basemap")'>
        Image Basemap Spots
      </ion-checkbox>
      <ion-checkbox ng-checked='vm.isFilterConditionChecked("spotType", "strat-section")'
                    ng-click='vm.checkedFilterCondition("spotType", "strat-section")'>
         Strat Section Spots
      </ion-checkbox>
      <ion-checkbox ng-checked='vm.isFilterConditionChecked("spotType", "samples")'
                    ng-click='vm.checkedFilterCondition("spotType", "samples")'>
        Sample Spots
      </ion-checkbox>
    </div>
    <br>
    <button ng-click='vm.applyFilters()'
            class='button button-clear button-positive'>
      <i class='icon ion-checkmark-round'></i>
      <span class='button-text-big'>Apply Filters</span>
    </button>
    <button ng-click='vm.resetFilters()'
            class='button button-clear button-positive'>
      <i class='icon ion-refresh'></i>
      <span class='button-text-big'>Reset All Filters</span>
    </button>
  </ion-content>
</ion-modal-view>