<ion-view title='Spots'>
  <ion-nav-buttons side='left'>
    <button menu-toggle='left' class='button button-icon icon ion-navicon'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button
        ng-class='{"button button-icon ion-loop": vm.isOnlineLoggedIn(), "button button-icon ion-alert-circled": !vm.isOnlineLoggedIn()}'
        ng-click='vm.sync()'>
    </button>
    <button class='button button-icon ion-plus' ng-click='vm.newSpot()'></button>
    <button ng-click='vm.showActionsheet()' class='button button-icon icon ion-arrow-up-b'></button>
  </ion-nav-buttons>
  <ion-content class='has-header'>
    <ion-list>
      <ion-item ng-repeat='spot in vm.spots track by spot.properties.id'
                href='#/spotTab/{{spot.properties.id}}/spot'>
        {{spot.properties.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
