<ion-view>
  <ion-nav-title>
    {{ vm.spots.length }}
    <span ng-show='vm.spots.length === 1'> Spot</span>
    <span ng-show='vm.spots.length === 0 || vm.spots.length > 1'> Spots</span>
  </ion-nav-title>
  <ion-nav-buttons side='left'>
    <button menu-toggle='left' class='button button-icon icon ion-navicon'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button class='button button-icon ion-funnel button-positive' ng-click='vm.filter()'></button>
    <button class='button button-icon ion-plus' ng-click='vm.newSpot()'></button>
    <button ng-click='vm.popover.show($event)' class='button button-icon icon ion-more rotate-90'></button>
  </ion-nav-buttons>
  <ion-content class='has-header'>
    <strabo-spots-directive></strabo-spots-directive>
  </ion-content>
</ion-view>
