<div class="col-xs-3 strabo-column" id="left">
  <div class="strabo-subheader">
    <div class="subheader-left">
      <div class="text-left strabo-subheader-text">
        {{ vm.spots.length }}
        <span ng-show='vm.spots.length === 1'> Spot</span>
        <span ng-show='vm.spots.length === 0 || vm.spots.length > 1'> Spots</span>
      </div>
    </div>
    <div class="subheader-right">
      <button class='button button-icon icon ion-levels rotate-90' ng-click='vm.addFilters()'></button>
      <button class='button button-icon icon ion-more rotate-90' ng-click='vm.popover.show($event)'></button>
    </div>
  </div>
  <div>
    <strabo-spots-directive></strabo-spots-directive>
  </div>
</div>

<div class="col-xs-9 strabo-column" id="right">
  <div ng-hide="vm.spotIdSelected" class="padding">No Spot Selected</div>
  <div ng-show="vm.spotIdSelected">
    <div ui-view="spot-data"></div>
  </div>
</div>
