<div>
  <div ng-show='vm.clickedFeatureId === undefined'>
    No Spot Selected
  </div>
  <div ng-hide='vm.clickedFeatureId === undefined'>
    <div ng-controller='MapSidePanelController as sidePanel'>
      <div class='strabo-tabs-web' ng-controller='SpotController as vm'>
        <div class="text-center strabo-subheader-text">{{ vm.spotTitle }}</div>
        <div class="strabo-subheader">
          <div class="subheader-left">
            <button ng-click='vm.submit()' class='button button-icon icon'
                    ng-class='{"ion-alert-circled": vm.spotChanged, "ion-checkmark-circled": !vm.spotChanged }'>
              <span ng-show='vm.spotChanged' class="positive"> Unsaved Changes</span>
              <span ng-show='!vm.spotChanged'> Spot Saved</span></button>
          </div>
          <div class="subheader-right">
            <button ng-click='vm.deleteSpot()' class='button button-icon icon ion-trash-b'></button>
            <button ng-click='vm.popover.show($event)' class='button button-icon icon ion-more rotate-90'></button>
          </div>
        </div>

        <span ng-show='vm.showTab(tab.value)' ng-repeat='tab in vm.tabs track by $index'>
          <a class='button button-clear spot-tab-inactive'
             ng-class='{ "spot-tab-active": sidePanel.isActiveTab(tab.path) }'
             ng-click='sidePanel.setActiveTab(tab.path)'>
            {{ tab.label }}</a>
        </span>
        <span>
          <a class='button button-clear spot-tab-inactive'
             ng-click='vm.submit("/app/preferences");'>
            More
          </a>
        </span>

        <div ng-show='sidePanel.isActiveTab("spot")' ng-controller='SpotTabController as vmChild'
             ng-init='sidePanel.onload("spot")'>
          <form name='straboForm' novalidate='' class='strabo-form'>
            <strabo-spot-tab-directive></strabo-spot-tab-directive>
          </form>
        </div>
        <div ng-show='sidePanel.isActiveTab("orientations")' ng-controller='OrientationsTabController as vmChild'>
          <strabo-orientations-tab-directive></strabo-orientations-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("_3dstructures")' ng-controller='_3DStructuresTabController as vmChild'>
          <strabo3-d-structures-tab-directive></strabo3-d-structures-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("images")' ng-controller='ImagesTabController as vmChild'>
          <button ng-click="vmChild.addImage()"
                  class='button button-clear button-positive'>
            <i class='icon ion-camera'></i>
            <span class='button-text-big'>Add Image From File</span>
          </button>
          <input type='file' id='file' style='display: none;'>
          <strabo-images-tab-directive></strabo-images-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("minerals")' ng-controller='MineralsTabController as vmChild'>
          <strabo-minerals-tab-directive></strabo-minerals-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("nesting")' ng-controller='NestingTabController as vmChild'>
          <strabo-nesting-tab-directive></strabo-nesting-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("samples")' ng-controller='SamplesTabController as vmChild'>
          <strabo-samples-tab-directive></strabo-samples-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("other-features")' ng-controller='OtherFeaturesTabController as vmChild'>
          <strabo-other-features-tab-directive></strabo-other-features-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("relationships")' ng-controller='RelationshipsTabController as vmChild'>
          <strabo-relationships-tab-directive></strabo-relationships-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("tags")' ng-controller='TagsTabController as vmChild'>
          <strabo-tags-tab-directive></strabo-tags-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("strat-section")' ng-controller='StratSectionTabController as vmChild'>
          <strabo-strat-section-tab-directive></strabo-strat-section-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("sed-lithologies")' ng-controller='SedLithologiesTabController as vmChild'>
          <strabo-sed-lithologies-tab-directive></strabo-sed-lithologies-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("sed-structures")' ng-controller='SedStructuresTabController as vmChild'>
          <strabo-sed-structures-tab-directive></strabo-sed-structures-tab-directive>
        </div>
        <div ng-show='sidePanel.isActiveTab("sed-interpretations")' ng-controller='SedInterpretationsTabController as vmChild'>
          <strabo-sed-interpretations-tab-directive></strabo-sed-interpretations-tab-directive>
        </div>
      </div>
    </div>
  </div>
</div>