<div class='modal image-modal'>
  <ion-slide-box on-slide-changed='slideChanged(index)' show-pager='true' active-slide='vmChild.activeSlide'>
    <ion-slide ng-repeat='image in vm.spot.properties.images'>
      <img ng-src='{{ vmChild.getImageSrc(image.id) }}' class='fullscreen-image' ng-click='vmChild.closeModal("imageModal")'/>
      <textarea rows='3' class='image-modal-textarea' ng-model='image.caption'
                placeholder='Image description ...'></textarea>
    </ion-slide>
  </ion-slide-box>
</div>
