<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7'>
    <div class="buttons">
      <div class='button button-positive' ng-click='vmChild.saveImageProperties()'>Save</div>
    </div>
    <h1 class='title'>Image Properties</h1>
    <div class="buttons">
      <button ng-hide='vmChild.isWeb()' ng-click='vmChild.reattachImage();'
              class='button button-icon icon ion-link'></button>
      <button ng-click='vmChild.deleteImage();'
              class='button button-icon icon ion-trash-b'></button>
      <button class='icon ion-close-round close-modal-button'
              ng-click='vmChild.imagePropertiesModal.hide()'>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <form name='straboForm' novalidate=''>
      <auto-fields/>
    </form>
  </ion-content>
</ion-modal-view>
