<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <div class="buttons">
      <div class='button button-clear' ng-click='vmChild.closeModal("imagePropertiesModal")'><span
        class='icon ion-arrow-left-c'></span></div>
    </div>
    <h1 class='title'>Image Properties</h1>
    <div class="buttons">
      <button ng-click='vmChild.exportImage();'
              class='button button-icon icon ion-archive'></button>
      <button ng-click='vmChild.deleteImage();'
              class='button button-icon icon ion-trash-b'></button>
    </div>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <auto-fields></auto-fields>
  </ion-content>
</ion-modal-view>
