<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <h1 class='title'>Sync Spots with Strabo Database</h1>
    <div class='button button-clear' ng-click='vm.closeModal("syncModal")'><span class='icon ion-close'></span></div>
  </ion-header-bar>
  <ion-content class='has-header' ng-controller='SyncModalController as vmChild'>
    <div class='padding'>
      You are currently logged in as: {{ vmChild.loginEmail }}
    </div>
    <div ng-show='vmChild.progress.showProgress'>You are uploading spot {{ vmChild.progress.current }} of {{
      vmChild.progress.total
      }}
    </div>
    <div ng-show='vmChild.showDatasetOpts() && !vmChild.progress.showProgress'>
      <div class='list'>
        <div>
          <!-- List Current Datasets -->
          <label class='item item-input item-select item-stacked-label item-text-wrap'>
            <div class='input-label'>
              Select a Dataset
            </div>
            <select ng-model='vmChild.dataset'
                    ng-options='item.name for item in vmChild.datasets'>
            </select>
          </label>

          <!-- Create New Dataset -->
          <div class='item item-input-inset' ng-show='vmChild.dataset.name=="-- new dataset --"'>
            <label class='item-input-wrapper item-stacked-label item-text-wrap'>
              <span class='input-label'>New Dataset Name</span>
              <input type='text'
                     ng-model='vmChild.dataset_name'>
            </label>
            <button ng-click='vmChild.createDataset()' ng-disabled='!vmChild.dataset_name'
                    class='button button-positive button-small'>
              Create Dataset
            </button>
          </div>
          <!-- Show Dataset Operations -->
          <div ng-hide='vmChild.dataset.name=="-- new dataset --"'>
            <ion-radio ng-model='vmChild.operation' value='download'>
              <i class='icon ion-android-download'></i>
              Download all Spots from <b>{{ vmChild.dataset.name }}</b>
            </ion-radio>
            <ion-radio ng-model='vmChild.operation' value='upload'>
              <i class='icon ion-upload'></i>
              Upload all Spots to <b>{{ vmChild.dataset.name }}</b>
            </ion-radio>
            <ion-radio ng-model='vmChild.operation' value='remove'>
              <i class='icon ion-trash-b'></i>
              Remove all Spots from <b>{{ vmChild.dataset.name }}</b> and delete <b>{{ vmChild.dataset.name }}</b>
            </ion-radio>
            <ion-radio ng-model='vmChild.operation' value='deleteAll'>
              <i class='icon ion-trash-b'></i>
              Delete <b>ALL</b> Spots for this user on the server
            </ion-radio>
            <div class='padding'>
              <button ng-click='vmChild.startDatasetOp()' ng-disabled='!vmChild.dataset || !vmChild.operation'
                      class='button button-positive icon-left icon'>
                Start
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='padding' ng-show='vmChild.progress.showUploadDone'>
      Finished uploading spots to Dataset <b>{{ vmChild.dataset.name }}</b> on the server.
    </div>
    <div class='padding' ng-show='vmChild.progress.showDownloadDone'>
      Finished downloading spots from Dataset <b>{{ vmChild.dataset.name}}</b> on the server.
    </div>
    <div class='padding' >
      {{ vmChild.downloadProgress }}
    </div>
  </ion-content>
</ion-modal-view>
