<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class='bar-dark'>
    </ion-nav-bar>
    <ion-nav-view name='menuContent' animation='slide-left-right'></ion-nav-view>
  </ion-pane>

  <ion-side-menu side='left'>
    <ion-content>
      <table class='project-info'>
        <tr>
          <td class='user' rowspan="2" ng-click='vm.editUser();'>
            <img src='img/ninja.png'>
            <br>
            <span class='user-name'>{{vm.userName}}</span>
          </td>
          <td class='project'>
            <span class='project-name-header'>Project</span>
            <br>
            The name of the project goes in this area
          </td>
        </tr>
        <tr>
          <td class='project-buttons'>
            <button ng-click='vm.editProject();' class='button button-small button-clear icon-left ion-edit'>Edit
              Project
            </button>
            <button ng-click='vm.openTools();' class='button button-small button-clear icon-left ion-settings'>Tools
            </button>
          </td>
        </tr>
      </table>

      <ion-list>
        <ion-item nav-clear menu-close href='#/app/spots'>
          Spots
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/map'>
          Map
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/image-maps'>
          Image Maps
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/offlinemap'>
          Offline Maps
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/search'>
          Search
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/settings'>
          Settings
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/debug'>
          Random Points (testing only)
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/about'>
          About Strabo
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
