<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class='bar-dark'>
    </ion-nav-bar>
    <ion-nav-view name='menuContent' animation='slide-left-right'></ion-nav-view>
  </ion-pane>

  <ion-side-menu side='left'>
    <ion-content>
      <table class='project-info'>
        <tr>
          <td menu-close class='user' rowspan="2" ng-click='vm.editUser();'>
            <div ng-show='vm.userName'>
              <div ng-hide='vm.userImage'>
                <img src='img/ninja.png'>
              </div>
              <div ng-show='vm.userImage'>
                <img class='profile-image' ng-src='{{ vm.userImage }}'>
              </div>
              <span class='user-name'>{{ vm.userName }}</span>
            </div>
            <div ng-show='!vm.userName'>
              <br>
              <button class='button button-small icon-left icon button-clear button-light ion-log-in'>Login
              </button>
            </div>
          </td>
          <td class='project' menu-close ng-click='vm.projectDetail()'>
            <span class='project-name-header'>Project</span>
            <br>
            {{ vm.projectName }}
          </td>
        </tr>
        <tr>
          <td class='project-buttons' menu-close ng-click='vm.switchProject()'>
            <button class='button button-small button-clear icon-left ion-arrow-swap'>
              Switch Projects
            </button>
          </td>
        </tr>
      </table>

      <ion-list>
        <ion-item nav-clear menu-close href='#/app/spots'>
          Spots
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/relationships'>
          Relationships
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/tags'>
          Tags
        </ion-item>
        <div class='field-group item item-divider'>
          Maps
        </div>
        <ion-item nav-clear menu-close href='#/app/map' ng-click='vm.showLoadingSpinner()'>
          Main Map
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/image-basemaps'>
          Image Basemaps
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/other-maps'>
          Other Basemaps
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/offlinemap'>
          Offline Basemaps
        </ion-item>
        <div class='field-group item item-divider'>
          Project
        </div>
        <ion-item nav-clear menu-close href='#/app/manage-project'>
          Manage
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/description'>
          Description
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/tools'>
          Tools
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/preferences'>
          Preferences
        </ion-item>
        <div class='field-group item item-divider'>
          Help
        </div>
        <ion-item nav-clear menu-close href='#/app/misc'>
          Miscellaneous
        </ion-item>
        <ion-item nav-clear menu-close href='#/app/about'>
          About Strabo
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
