<div>
  <div class='button-bar'>
    <button class='button' ng-click='vmChild.switchLithologyForm("interval_basics")'>Basics</button>
    <button class='button' ng-click='vmChild.switchLithologyForm("stratification")'>Stratification</button>
    <button class='button' ng-click='vmChild.switchLithologyForm("texture")'>Texture</button>
    <button class='button' ng-click='vmChild.switchLithologyForm("composition")'>Composition</button>
  </div>
  <div class='strabo-form'>
    <auto-fields/>
  </div>
</div>