<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget
    id="gov.az.azgs.strabomobile"
    version="0.7.2"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Strabo Mobile</name>
  <description>
    Strabo Mobile is a cross-platform mobile application for geologic field data acquisition.
  </description>
  <author email="jessica.good@azgs.az.gov" href="https://github.com/StraboSpot/strabo-mobile">
    Jessica Good
  </author>
  <icon src="icon.png"/>
  <gap:platform name="ios"/>
  <gap:platform name="android"/>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="phonegap-version" value="cli-5.2.0"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-targetSdkVersion" value="22"/>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="iosPersistentFileLocation" value="Library"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <gap:config-file platform="ios" parent="UIFileSharingEnabled" mode="replace">
    <true/>
  </gap:config-file>
  <gap:plugin name="cordova-plugin-camera" version="1.2.0" source="npm"/>
  <gap:plugin name="cordova-plugin-console" version="1.0.1" source="npm"/>
  <gap:plugin name="cordova-plugin-device" version="1.0.1" source="npm"/>
  <gap:plugin name="cordova-plugin-file" version="3.0.0" source="npm"/>
  <gap:plugin name="cordova-plugin-geolocation" version="1.0.1" source="npm"/>
  <gap:plugin name="cordova-plugin-inappbrowser" version="1.0.1" source="npm"/>
  <gap:plugin name="cordova-plugin-network-information" version="1.0.1" source="npm"/>
  <gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm"/>
  <gap:plugin name="ionic-plugin-keyboard" version="1.0.7" source="npm"/>
  <gap:plugin name="cordova-plugin-filepath" version="1.0.0" source="npm"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>