<ion-modal-view>
  <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
    <button class='button button-positive' ng-click='vmChild.addMineralTagModal.hide();'>Done
    </button>
    <h1 class='title'>Add Mineral Tags</h1>
    <button class='button button-icon' ng-click='vmChild.addMineralTagModal.hide(); vm.createTag()'>
      <span class='icon ion-plus'></span>
    </button>
  </ion-header-bar>
  <ion-content class='has-header'>
    <ion-checkbox class='item-text-wrap item-button-right'
                  ng-repeat='tag in vm.allMineralTags | orderBy:"name" track by tag.id'
                  ng-checked='vm.isTagChecked(tag)'
                  ng-click='vm.toggleTagChecked(tag)'>
      <b>{{ tag.name }}</b>
      <strabo-tags-list-properties-directive></strabo-tags-list-properties-directive>
    </ion-checkbox>
  </ion-content>
</ion-modal-view>