<div>
  <button ng-click='vmChild.addMineralTag()' class='button button-clear button-positive'>
    <i class='icon ion-plus-circled'></i>
    <span class='button-text-big'>Add/Remove Minerals (Tag)</span>
  </button>
  <ion-list>
    <ion-item class='item-text-wrap item-button-right'
              ng-repeat='mineral in vm.mineralDisplay | orderBy:"mineral" track by $index'>
      <b>{{ vmChild.getLabel(mineral) }}</b>
      <button id="minerals-info-button-main"
      class=" button-small button-icon button ion-information-circled minerals-field-info-button"
      ng-click="vmChild.mineralInfoOnMainPage(mineral)"></button>
    </ion-item>
  </ion-list>
</div>