<div id='straboFormCtrlId' ng-controller='FormController as form'>
  <div ng-repeat='field in form.survey' class='strabo-form'>
    <div id='{{ field.name }}' ng-show='form.showField(field, vm.data)'>
      <ion-input class='item-text-wrap strabo-choices-flex-container strabo-wrap' 
        ng-class='form.setSelMultClass(field, vm.data)'>
        <ion-checkbox name='{{ field.name }}' style="z-index: 1;" class="strabo-choices-flex-item" ng-checked='form.isOptionChecked(field.name, choice.name, vm.data)' 
            ng-click='form.toggleChecked(field.name, choice.name, vm.data)'
            ng-repeat='choice in form.choices | filter: { "list_name": field.type.split(" ")[1] }'
            ng-required='{{ field.required }}'>
            {{ choice.label }}
        </ion-checkbox>
      </ion-input>
    </div>
  </div>
</div>