<ion-modal-view class="minerals-modals" >
        <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
          <button class='button button-positive' ng-show="vmChild.mineralInfoState" ng-click='vmChild.submit()'>Save 
          </button>
          <button class='button button-icon icon ion-arrow-left-c ' ng-hide="vmChild.mineralInfoState" ng-click='vmChild.hideMineralInfo();'> 
            </button>
          <h1 class='title'>{{ vmChild.modalTitle }}</h1>
          <div class='buttons'>
            <button class='icon ion-close-round close-modal-button' ng-click='vmChild.sedimentaryModal.hide()'>
            </button>
          </div>
        </ion-header-bar>
        <ion-content>   
          <div ng-show="vmChild.mineralInfoState">
              <div class='button-bar'>
                  <button class='button button-full' ng-click='vmChild.switchMineralsForm("sedimentary_most_common")' ng-class="{'spot-tab-active': vmChild.activeState === 'most_common'}">Most Common</button>
                  <button class='button button-full' ng-click='vmChild.switchMineralsForm("sedimentary")' ng-class="{'spot-tab-active': vmChild.activeState === 'all'}">All</button>    
                </div>  
                <div id="search-div">
                    <input class="font-size: 32px;" type="text" id="background-input" /> 
                    <input  type="text" id="search" placeholder="Search mineral name in list..."/>
                </div>  
                <!-- <ion-list>
                        <ion-item class='item-text-wrap item-button-right' ng-repeat='mineral in vm.spot.properties.minerals'>
                          {{  }}
                        </ion-item>
                      </ion-list> -->
                <form name='straboForm' novalidate=''>
                <strabo-minerals-choices-directive/>
                </form>
          </div> 
          <div ng-hide="vmChild.mineralInfoState" class="padding">
            Info
          </div>
      
        </ion-content>
        <!-- <ion-content class='has-header'>
            <div class='padding orientation-reference' ng-show="vmChild.parentOrientation">
              <b>REFERENCE ORIENTATION:</b></span>
              {{ vmChild.parentOrientation.label }}
            </div>
            <form name='straboForm' novalidate=''>
              <auto-fields/>
            </form>
          </ion-content> -->
      </ion-modal-view>