<ion-view>
  <ion-nav-title>
    Tags
  </ion-nav-title>
  <ion-nav-buttons side='left'>
    <button menu-toggle='left' class='button button-icon icon ion-navicon'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button class='button button-icon ion-plus' ng-click='vm.newTag()'></button>
    <button ng-click='vm.popover.show($event)' class='button button-icon icon ion-more rotate-90'></button>
  </ion-nav-buttons>
  <ion-content class='has-header'>
    <div ng-show='vm.isTagging' class='padding-left padding-right active-tags'>
      {{ vm.getActiveTags() }}
    </div>
    <ion-toggle class='toggle-small strabo-form'
                toggle-class='toggle-positive'
                ng-model='vm.isTagging'
                ng-click='vm.toggleTagging()'>
      <span class='toggle-left-label'>{{ vm.tagText }} </span>
    </ion-toggle>
    <strabo-tags-filter-directive></strabo-tags-filter-directive>
    <ion-list>
      <ion-item class='item-text-wrap item-button-right'
                ng-repeat='tag in vm.allTagsToDisplay | orderBy:"name" track by tag.id'
                ng-click='vm.goToTag(tag.id)'>
        <b>{{tag.name}}</b>
        <strabo-tags-list-properties-directive></strabo-tags-list-properties-directive>
        <button class='button button-clear button-assertive'
                ng-click='vm.deleteTag(tag)'>
          <i class='icon ion-minus-circled'></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
