<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7' align-title='center'>
    <button class='button button-clear' ng-click='vm.closeModal("selectTypesModal")'>
      <span class='icon ion-arrow-left-c'></span>
    </button>
    <h1 class='title'>Select Relationship Types</h1>
  </ion-header-bar>
  <ion-content class='has-header'>
    <ion-checkbox class='item-text-wrap item-button-right'
                  ng-repeat='type in vm.relationshipTypes'
                  ng-checked='vm.isTypeChecked(type)'
                  ng-click='vm.toggleTypeChecked(type)'>
      {{ type }}
    </ion-checkbox>
    <button ng-click='vm.addRelationshipType()'
            class='button button-clear button-positive'>
      <i class='icon ion-plus-circled'></i>
      <span class='button-text-big'>Add Other Relationship Type</span>
    </button>
  </ion-content>
</ion-modal-view>