<ion-popover-view class='fit'>
  <ion-content scroll='false'>
    <ion-list>
      <ion-item ng-click='vm.deleteSpot()'>
        <i class='icon ion-trash-b'></i> Delete this Spot
      </ion-item>
      <ion-item ng-click='vm.copyThisSpot()'>
        <i class="icon ion-ios-copy"></i> Copy this Spot
      </ion-item>
      <ion-item ng-hide='vm.isState("app.spotTab.spot")' ng-click='vm.goToSpot()'>
        <i class="icon ion-document-text"></i> Go To this Spot Page
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>