<ion-view title='Save Offline Map'>
  <ion-nav-buttons side='left'>
    <button ng-click='vm.goToMap();' class='button button-icon icon ion-arrow-left-c'></button>
  </ion-nav-buttons>
  <ion-content class='padding has-header'>

    <div class='map-name'> {{ vm.map.title }} </div>

    <div align='center' ng-show='vm.map.existCount'>
      <b>{{ vm.map.existCount }} Tiles already on device for this map.</b>
    </div>

    <div class='tile-count-label' ng-show='vm.showSubmitButton'>
      <b>Number of tiles to download: {{ vm.map.tileCount }} <br></b>

      <button class='button button-block button-positive' ng-click='vm.submit()' ng-disabled='vm.downloading'>
        {{ vm.submitBtnText }}
      </button>
    </div>

    <h5>Select max zoom level to download:</h5>

    <div class='zoom-levels' ng-repeat='z in vm.zoomOptions'>
      <a ng-click='vm.maxZoomLevelChanged({{z.zoom}})'>Zoom {{z.zoom}}</a>
    </div>

    * Zoom in or out on the map to show more zoom levels.<br>
    * Double check your map before downloading higher zoom levels.<br>
    * Offline Maps are loaded automatically when offline.<br>
    * Edit and delete options for Saved Maps will be available under the Offline Maps menu item.
  </ion-content>
</ion-view>
