<ion-modal-view class="minerals-modals">
  <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
    <button class='button button-icon icon ion-arrow-left-c' ng-click='vmChild.setGlossaryMineral({})'
            ng-hide='vmChild.isShowMineralGlossaryIndex'>
    </button>
    <h1 class='title'>Minerals Glossary</h1>
    <div class='buttons'>
      <button class='icon ion-close-round close-modal-button' ng-click='vmChild.glossaryModal.hide()'>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <div class="row" ng-show='vmChild.isShowMineralGlossaryIndex'>
        <div class="col">
          <div class='padding-bottom'
               ng-repeat='mineral in vmChild.glossary | limitTo:31:0 | orderBy:"Name" track by $index'
               ng-click="vmChild.setGlossaryMineral(mineral)">
            {{mineral.Label}}
          </div>
        </div>
        <div class="col">
          <div class='padding-bottom'
               ng-repeat='mineral in vmChild.glossary | limitTo:30:31 | orderBy:"Name" track by $index'
               ng-click="vmChild.setGlossaryMineral(mineral)">
            {{mineral.Label}}
          </div>
        </div>
        <div class="col">
          <div class='padding-bottom'
               ng-repeat='mineral in vmChild.glossary | limitTo:35:61 | orderBy:"Name" track by $index'
               ng-click="vmChild.setGlossaryMineral(mineral)">
            {{mineral.Label}}
          </div>
        </div>
      </div>
      <div class="mineral-info-display" ng-hide='vmChild.isShowMineralGlossaryIndex'>
        <button ng-click='vmChild.addThisMineral();' class='button button-clear button-positive'>
          <i class='icon ion-plus-circled'></i>
          <span class='button-text-big'>Add this Mineral</span>
        </button>
        <div class="row">
          <span class="mineral-title">Mineral:</span>
          {{ vmChild.glossaryMineral.Label }}
        </div>
        <div class="row">
          <span class="mineral-title">Formula:</span>
          {{ vmChild.glossaryMineral.Formula }}
        </div>
        <div class="row">
          <span class="mineral-title">Crystal System:</span>
          {{ vmChild.glossaryMineral["Crystal System"] }}
        </div>
        <div class="row">
          <span class="mineral-title">Hardness:</span>
          {{ vmChild.glossaryMineral.Hardness }}
        </div>
        <div class="row">
          <span class="mineral-title">Distinguishing Features:</span>
          {{ vmChild.glossaryMineral['Distinguishing Features'] }}
        </div>
        <div class="row">
          <span class="mineral-title"> Occurrence:</span>
          {{ vmChild.glossaryMineral.Occurrence }}
        </div>
        <div class="row">
          <span class="mineral-title"> Associated Minerals:</span>
          {{ vmChild.glossaryMineral['Associated Minerals'] }}
        </div>
        <div class="row">
          <!-- <div class=" mineral-title"><i name="icon ion-globe"></i></div>          -->
          <a class="" id="mineral-link" ng-href="{{vmChild.glossaryMineral['mindat.org link']}}" target="blank">
            <i class="web-icon icon ion-android-globe"></i>
            Click here for more mineral information on {{vmChild.glossaryMineral.Label}} from Mindat.org
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>