<ion-view>
  <ion-nav-title>
    Tags
  </ion-nav-title>
  <ion-nav-buttons side='left'>
    <button menu-toggle='left' class='button button-icon icon ion-navicon'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button class='button button-icon ion-plus' ng-click='vm.newTag()'></button>
    <button ng-click='vm.popover.show($event)' class='button button-icon icon ion-more rotate-90'></button>
  </ion-nav-buttons>
  <ion-content class='has-header'>
    <strabo-tags-directive></strabo-tags-directive>
  </ion-content>
</ion-view>
