<div class='strabo-form'>
  <ion-toggle class='toggle-small'
              toggle-class='toggle-positive'
              ng-hide='vmChild.hideContNesting'
              ng-model='vmChild.isNesting'
              ng-change='vmChild.toggleNesting()'>
    <span class='toggle-left-label'>{{ vmChild.nestText }} </span>
  </ion-toggle>
  <div class='padding' ng-hide='vmChild.parentGenerations.length > 0 || vmChild.childGenerations.length > 0'>
    This Spot is not nested yet.
  </div>
  <div class='padding' ng-show='vmChild.parentGenerations.length > 0 || vmChild.childGenerations.length > 0'>


    <div ng-repeat='generation in vmChild.parentGenerations | orderBy:"$index":true track by $index'>
      <div>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 0'>1st</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 1'>2nd</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 2'>3rd</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 3'>4th</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 4'>5th</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 5'>6th</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 6'>7th</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 7'>8th</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 8'>9th</span>
        <span ng-if='vmChild.parentGenerations.length - $index - 1 === 9'>10th</span>
        <span>Generation Parents</span>
        <div class='nest-block'>
          <div ng-repeat='spot in generation track by spot.properties.id'>
            <strabo-spot-directive></strabo-spot-directive>
          </div>
        </div>
      </div>

      <span ng-show='generation.length > 0'>
        <i class='ion-arrow-down-c padding-left'></i>
        <br>
      </span>
    </div>

    <div>
      <b>THIS SPOT</b>
      <div class='nest-block' class='nest-block'>
        <div ng-repeat='spot in [vmChild.spot]'>
          <strabo-spot-directive></strabo-spot-directive>
        </div>
      </div>
    </div>

    <div ng-repeat='generation in vmChild.childGenerations track by $index'>
      <span ng-show='generation.length > 0'>
        <i class='ion-arrow-down-c padding-left'></i>
        <br>
      </span>

      <div>
        <span ng-if='$index === 0'>1st</span>
        <span ng-if='$index === 1'>2nd</span>
        <span ng-if='$index === 2'>3rd</span>
        <span ng-if='$index === 3'>4th</span>
        <span ng-if='$index === 4'>5th</span>
        <span ng-if='$index === 5'>6th</span>
        <span ng-if='$index === 6'>7th</span>
        <span ng-if='$index === 7'>8th</span>
        <span ng-if='$index === 8'>9th</span>
        <span ng-if='$index === 9'>10th</span>
        <span>Generation Children</span>
        <div class='nest-block'>
          <div ng-repeat='spot in generation track by spot.properties.id'>
            <strabo-spot-directive></strabo-spot-directive>
          </div>
        </div>
      </div>
    </div>

    <div ng-show='vmChild.isiOS()'>
      <button ng-click='vmChild.stereonetSpots(vmChild.childGenerationsFlattened)'
              class='button button-clear button-positive'>
        <i class='icon ion-disc'></i>
        <span class='button-text-big'>Add Nested Spots to Stereonet</span>
      </button>
    </div>
  </div>
</div>
