<div class="divider-buttons-right">
  <!--<ion-refresher
    pulling-text="Pull to update..."
    on-refresh="vm.doSync()">
  </ion-refresher>
  <div ng-show='vm.showOfflineWarning' class='text-center'>
    <i class='icon button-large ion-alert-circled'></i>Unable to connect
  </div>-->
  <div class='field-group item item-divider'>
    Current Project
    <i class='button button-icon ion-arrow-swap' ng-click='vm.switchProject()' ng-hide='vm.isWeb'></i>
  </div>
  <ion-item>
    <div class='padding' ng-hide='vm.showProject'>
      No Project Set Yet
    </div>
    <div ng-show='vm.showProject'>
      {{ vm.project.description.project_name }}
    </div>
  </ion-item>
  <div class='field-group item item-divider'>
    Datasets
    <i class='button button-icon ion-plus' ng-click='vm.newDataset()'></i>
  </div>
  <!--<div class='padding'>
    <small>Toggle On Datasets to Sync:</small>
  </div>-->
  <ion-list>
    <ion-item class='item-button-right dataset'
              ng-repeat='dataset in vm.datasets track by dataset.id'>
      <ion-toggle class='toggle-large'
                  toggle-class='toggle-positive'
                  ng-checked='vm.isDatasetOn(dataset)'
                  ng-click='vm.toggleDataset(dataset)'
                  ng-disabled='vm.isDatasetOn(dataset) && vm.activeDatasets.length <= 1'>
          <span class='toggle-left'>{{ dataset.name }}
            <span ng-show='vm.isDatasetOn(dataset)'>{{ vm.getNumberOfSpots(dataset) }}</span>
            <span ng-hide='vm.isDatasetOn(dataset)'>(Not Active)</span>
          </span>
      </ion-toggle>
      <button class='button button-clear button-assertive'
              ng-click='vm.deleteDataset(dataset)'>
        <i class='icon ion-minus-circled'></i>
      </button>
    </ion-item>
  </ion-list>
  <ion-input class='item item-input item-select item-text-wrap' ng-hide='vm.areDatasetsOn()'>
    <ion-label>Dataset for New Spots:</ion-label>
    <select>
      <option>First turn On a Dataset Above</option>
    </select>
  </ion-input>
  <ion-input class='item item-input item-select item-text-wrap' ng-show='vm.areDatasetsOn()'>
    <ion-label>Dataset for New Spots:</ion-label>
    <select ng-model='vm.spotsDataset'
            ng-options='activeDataset as activeDataset.name for activeDataset in vm.activeDatasets track by activeDataset.id'
            ng-change='vm.setSpotsDataset()'>
    </select>
  </ion-input>
  <div class='field-group item item-divider'>
    Custom Feature Types
  </div>
  <ion-list>
    <div class='padding' ng-show='vm.otherFeatureTypes.length <= 7'>
      No custom feature types added yet. Add a custom feature type in the Other Features tab of a Spot by selecting
      the type "other" when adding a feature.
    </div>
    <ion-item ng-repeat='type in vm.otherFeatureTypes | filter:vm.filterDefaultTypes' class='item-button-right'>
      {{type}}
      <button class='button button-clear button-assertive' ng-click='vm.deleteType($index)'>
        <i class='icon ion-minus-circled'></i>
      </button>
    </ion-item>
  </ion-list>
</div>