<ion-popover-view class='fit'>
  <ion-content scroll='false'>
    <ion-list>
      <ion-item ng-click='vm.startNewProject()'>
        <i class='icon ion-compose'></i> New Project
      </ion-item>
      <ion-item ng-show='vm.isSyncReady()' ng-click='vm.switchProject()'>
        <i class='icon ion-arrow-swap'></i> Switch Projects
      </ion-item>
      <ion-item ng-show='vm.isSyncReady()' ng-click='vm.initializeUpload()'>
        <i class='icon ion-android-upload'></i> Upload Project
      </ion-item>
      <ion-item ng-show='vm.isSyncReady()' ng-click='vm.initializeDownload()'>
        <i class='icon ion-android-download'></i> Download Project
      </ion-item>
      <!--
      <ion-item ng-click='vm.exportProject()'>
        <img class='strabo-icon' src='img/export-project.png'> Export Project to Device
      </ion-item>
      <ion-item ng-click='vm.importProject()'>
        <img class='strabo-icon' src='img/import-project.png'> Import Project from Device
      </ion-item>
      -->
      <ion-item ng-click='vm.exportProjectForDistribution()'>
        <img class='strabo-icon' src='img/export-project.png'> Export Project to Device
      </ion-item>
      <ion-item ng-click='vm.importProjectForDistribution()'>
        <img class='strabo-icon' src='img/import-project.png'> Import Project from Device
      </ion-item>
      <ion-item ng-click='vm.exportAVOCSV()'>
        <img class='strabo-icon' src='img/export-project.png'> Export Sample CSV
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
