<form name='straboForm' novalidate=''>
  <ion-modal-view>
    <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
      <button class='button icon button button-positive'
              ng-click='vm.newProject()'>Save
      </button>
      <h1 class='title'>Create a New Project</h1>
      <button class='button icon ion-close-round button-clear'
              ng-click='vm.newProjectModal.hide()'
              ng-show='vm.showExitProjectModal'>
      </button>
    </ion-header-bar>
    <ion-content class='has-header'>
      <auto-fields/>
    </ion-content>
  </ion-modal-view>
</form>