<form name='straboForm' novalidate=''>
  <ion-modal-view>
    <ion-header-bar class='bar-stable nav-title-slide-ios7' align-title='center'>
      <h1 class='title'>Select a Project</h1>
      <button class='button icon ion-close-round button-clear'
              ng-click='vm.switchProjectModal.hide()'
              ng-show='vm.showExitProjectModal'>
      </button>
    </ion-header-bar>
    <ion-content class='has-header'>
      <ion-list>
        <ion-item ng-repeat='project in vm.projects track by project.id'
                  class='item-button-right'>
          <div ng-click='vm.selectProject(project)'>
            {{ project.name || 'Unnamed' }}
          </div>
          <button class='button button-clear button-assertive' ng-click='vm.deleteProject(project)'>
            <i class='icon ion-minus-circled'></i>
          </button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-modal-view>
</form>