<ion-view title='Save Offline Map'>
  <ion-nav-buttons side='left'>
    <button ng-click='vm.goToMap();' class='button button-icon icon ion-arrow-left-c'></button>
  </ion-nav-buttons>
  <ion-content class='padding has-header'>

    <ion-input class='item item-input item-select item-text-wrap'
               ng-show='vm.showSelectName'>
      <ion-label>Select a Map</ion-label>
      <select ng-model='vm.selectedName'
              ng-options='map.name for map in vm.maps | orderBy: "-date"'
              ng-change='vm.nameSelectChanged()'>
      </select>
    </ion-input>
    <ion-input ng-show='vm.showNameField' class='item item-input item-stacked-label item-text-wrap'>
      <ion-label>Map Name</ion-label>
      <input type='text' ng-model='vm.map.name' autofocus>
    </ion-input>

    <ion-checkbox ng-model='vm.map.downloadZooms' ng-show='vm.map.showDownloadInnerZooms'
                  ng-change='vm.estimateArchiveTile()'>
      Download inner zooms to zoom {{ vm.map.maxZoom }}?
    </ion-checkbox>

    <br>
    Current zoom level: {{ vm.map.currentZoom }}<br>
    Max zoom level available: {{ vm.map.maxZoom }}<br>
    Total number of tiles requested: {{ vm.map.tiles.saved.length + vm.map.tiles.need.length }} <br>
    Number of requested tiles already saved: {{ vm.map.tiles.saved.length }} <br>
    <br>
    <b>Number of tiles to download: {{ vm.map.tiles.need.length }} <br></b>

    <button class='button button-block button-positive' ng-click='vm.submit()'
            ng-disabled='vm.downloading'>
      {{ vm.submitBtnText }}
    </button>
    *Offline Maps are loaded automatically when offline. Edit and delete options for Saved Maps will be available under
    the Offline Maps menu item.

    <div ng-show='vm.map.percentDownload >= 0 || vm.map.saveStatus'>
      <br>
      <hr>
    </div>

    <div ng-show='vm.map.percentDownload >= 0'>
      <br>
      Attempting to download and save basemap tiles:
      <progress ng-value='vm.map.percentDownload' max='100'></progress>
      Number of tiles sucessful: {{ vm.map.progress.success }} / {{ vm.map.progress.total }}
      <br>
      Number of tiles failed: {{ vm.map.progress.failed }} / {{ vm.map.progress.total }}
    </div>

    <div ng-show='vm.map.saveStatus'>
      <br>
      <b>{{ vm.map.saveStatus }}</b>
    </div>

  </ion-content>
</ion-view>
