<ion-view>
  <ion-nav-title>{{ vm.imageBasemap.title }}</ion-nav-title>
  <ion-nav-buttons side='left'>
    <button ng-click='vm.goBack();' class='button button-icon icon ion-arrow-left-c'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <div ng-show='vm.isNesting' class='nesting-notification'>Nesting<br>On</div>
    <button ng-click='vm.popover.show($event)' class='button button-icon icon ion-more rotate-90'></button>
  </ion-nav-buttons>
  <ion-pane data-tap-disabled='true'>
    <div id='mapdiv' style='height:100%'></div>
    <div class='saveEdits' ng-show='vm.showSaveEditsBtn' ng-click='vm.saveEdits()'>{{ vm.saveEditsText }}</div>
  </ion-pane>
</ion-view>
