<div>
  <div class='item item-divider'>
    Location with this Section
  </div>
  <ion-list>
    <ion-item class='item-text-wrap item-button-right'>
      <div ng-click='vm.goToSpot(vm.thisSpotWithThinSection.properties.id, "thin-section")'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'Point' &&
            !vm.thisSpotWithThinSection.properties.image_basemap &&
            !vm.thisSpotWithThinSection.properties.thin_section_id"
          class='geometry-icon' src='img/point.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'LineString' &&
            !vm.thisSpotWithThinSection.properties.image_basemap &&
            !vm.thisSpotWithThinSection.properties.thin_section_id"
          class='geometry-icon' src='img/line.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'Polygon' &&
            !vm.thisSpotWithThinSection.properties.image_basemap &&
            !vm.thisSpotWithThinSection.properties.thin_section_id"
          class='geometry-icon' src='img/polygon.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'Point' &&
            vm.thisSpotWithThinSection.properties.image_basemap"
          class='geometry-icon' src='img/point-image-basemap.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'LineString' &&
            vm.thisSpotWithThinSection.properties.image_basemap"
          class='geometry-icon' src='img/line-image-basemap.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'Polygon' &&
            vm.thisSpotWithThinSection.properties.image_basemap"
          class='geometry-icon' src='img/polygon-image-basemap.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'Point' &&
            vm.thisSpotWithThinSection.properties.thin_section_id"
             class='geometry-icon' src='img/point-strat-section.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'LineString' &&
            vm.thisSpotWithThinSection.properties.thin_section_id"
             class='geometry-icon' src='img/line-strat-section.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type === 'Polygon' &&
            vm.thisSpotWithThinSection.properties.thin_section_id"
             class='geometry-icon' src='img/polygon-strat-section.png'>
        <img ng-if="vm.thisSpotWithThinSection.geometry.type !== 'Point' &&
            vm.thisSpotWithThinSection.geometry.type !== 'LineString' &&
            vm.thisSpotWithThinSection.geometry.type !== 'Polygon'"
             class='geometry-icon' src='img/question.png'>
        {{vm.thisSpotWithThinSection.properties.name}}
        <div>
              <span ng-show='vm.hasTags(vm.thisSpotWithThinSection.properties.id)' class='list-sub'>
                Tags: {{ vm.getTagNames(vm.thisSpotWithThinSection.properties.id) }}
              </span>
        </div>
      </div>
      <!--<button class='button button-clear button-assertive'
              ng-click='vm.deleteSpot(vm.thisSpotWithThinSection)'>
        <i class='icon ion-minus-circled'></i>
      </button>-->
    </ion-item>
  </ion-list>
  <div class='item item-divider'>
    Section Intervals
  </div>
  <div class='padding'>Section Top</div>
  <ion-list>
    <ion-item class='item-text-wrap item-button-right'
              ng-repeat='spot in vm.thinSectionIntervals track by spot.properties.id'>
      <div ng-click='vm.goToSpot(spot.properties.id, "spot")'>
        <strabo-spots-list-directive></strabo-spots-list-directive>
        <strabo-spots-list-tabs-detail-directive></strabo-spots-list-tabs-detail-directive>
        <div>
          <span ng-show='vm.hasTags(spot.properties.id)' class='list-sub'>
             Tags: {{ vm.getTagNames(spot.properties.id) }}
          </span>
        </div>
      </div>
      <!--<button class='button button-clear button-assertive'
              ng-click='vm.deleteSpot(spot)'>
        <i class='icon ion-minus-circled'></i>
      </button>-->
    </ion-item>
  </ion-list>
  <div class='padding'>Section Bottom</div>
  <div class='item item-divider'>
    Other Spots in this Section
  </div>
  <ion-list>
    <ion-item class='item-text-wrap item-button-right'
              ng-repeat='spot in vm.thinSectionOtherSpots track by spot.properties.id'>
      <div ng-click='vm.goToSpot(spot.properties.id)'>
        <strabo-spots-list-directive></strabo-spots-list-directive>
        <strabo-spots-list-tabs-detail-directive></strabo-spots-list-tabs-detail-directive>
        <div>
          <span ng-show='vm.hasTags(spot.properties.id)' class='list-sub'>
            Tags: {{ vm.getTagNames(spot.properties.id) }}
          </span>
        </div>
      </div>
      <!--<button class='button button-clear button-assertive'
              ng-click='vm.deleteSpot(spot)'>
        <i class='icon ion-minus-circled'></i>
      </button>-->
    </ion-item>
  </ion-list>
</div>