<div ng-show='vm.mapView'>
  <div class="side-images-scroll">
    <ion-list>
      <ion-item ng-repeat='image in vm.images | orderBy:"name" track by image.id'
                ng-click='vm.toggleImageSelected(image)'>
        <ion-label>{{ image.name || 'Untitled' }}</ion-label>
        <a><img ng-src='{{ vm.getImageSrc(image.id) }}' id='{{ image.id }}' width='200' height='200'></a>
      </ion-item>
    </ion-list>
  </div>
  <div id='maps' class="thin-section-maps">
  </div>

  <!-- Side Slide Content -->
  <div>
    <div id='map-side-panel'>
      <strabo-map-side-panel></strabo-map-side-panel>
    </div>
    <script>
      $('#map-side-panel').BootSideMenu({
        side: 'right',          // 'left' or 'right'
        duration: 500,          // animation speed
        remember: true,         // restore last menu status on page refresh
        autoClose: false,       // auto close
        pushBody: false,        // push the whole page
        closeOnClick: true,     // close on click
        width: '25%'            // width
      });
    </script>
  </div>
</div>
<div ng-show='!vm.mapView'>
  <div class='strabo-subheader  padding-left '>
    <div class="strabo-subheader-text subheader-left">
      {{ vm.thisSpotWithThinSection.properties.micro.thin_section.thin_section_name }} Related Spots
    </div>
    <div class="subheader-right padding-top">
      <span ng-show='vm.isNesting' class='nesting-notification-web'>Nesting On</span>
      <button class='button button-icon button-small ion-plus' ng-click='vm.addInterval()'></button>
      <button ng-show='vm.mapView' ng-click='vm.switchView()'
              class='button button-icon icon button-small ion-document-text'></button>
      <button ng-show='!vm.mapView' ng-click='vm.switchView()'
              class='button button-icon icon button-small ion-disc'></button>
      <button ng-click='vm.popover.show($event)'
              class='button button-icon icon button-small ion-more rotate-90'></button>
    </div>
  </div>
  <spots-this-thin-section-map-directive></spots-this-thin-section-map-directive>
</div>