.map {
  height: 100%;
}
.glyph-active {
  border: 1 solid #000;
}

/*--------------------
Basic Style
--------------------*/
.title {
  text-transform: capitalize;
}

.warning-popup .popup-head{
  background: red  !important;
}

.strabo-icon {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

/*--------------------
Project Info
--------------------*/
.project-info {
  background-color: #f8f8f8;
  width: 100%;
  overflow: hidden;
  color: black;
}

.project-info .user {
  text-align: center;
  max-width: 75px;
  padding: 5px;
}

.project-info .user-name {
  font-size: x-small;
}

.project-info .project {
  vertical-align: top;
  padding: 5px;
}

.project-info .project-name-header {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.project-info .project-buttons {
  vertical-align: bottom;
}

img.profile-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  border-radius: 50%;
}

/*--------------------
Map Controls Style
--------------------*/
.ol-control {
  background: none !important;
}
.ol-control button{
  height: 30px;
  width: 30px;
  background: white;
  color: black;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-control button:focus, .ol-control button:hover {
  background-color: lightgray !important;
}
.ol-zoom-in {
  border-radius: 8px 8px 0 0 !important;
}
.ol-zoom-out {
  border-radius: 0 0 8px 8px !important;
  border-top: none !important;
  margin-top: -1px !important;
}
.draw-controls {
  position: absolute;
  margin-top: 4em;
  top: 80px;
  left: .65em;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-touch .draw-controls {
  top: 85px;
}
.draw-controls a {
  display: block;
  font-size: 20px;
  height: 30px;
  width: 30px;
}
.draw-controls a:hover {
  background-color: lightgray;
}
.draw-controls .Point {
  background-image: url('../img/point.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .LineString {
  background-image: url('../img/line.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .LineStringFreehand {
  background-image: url('../img/lineFreehand.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .Polygon {
  background-image: url('../img/polygon.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .PolygonFreehand {
  background-image: url('../img/polygonFreehand.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .Edit {
  background-image: url('../img/edit.png');
  background-position: center;
  background-repeat: no-repeat;
}

.emogeo-controls {
  position: absolute;
  top: 65px;
  right: .65em;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-touch .emogeo-controls {
  top: 65px;
}
.emogeo-controls a {
  display: block;
  font-size: 20px;
  height: 30px;
  width: 30px;
}
.emogeo-controls a:hover {
  background-color: lightgray;
}
.emogeo-controls .emogeo-icon {
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}

.saveEdits {
  position: absolute;
  font-size: 0.9em;
  top: 60px;
  background-color: white;
  padding: 8px;
  left: 50%;
  margin-left: -25px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-zoom {
  top: 60px;
  left: .5em
}
.ol-rotate {
  top: 4em;
  right: .5em;
  transition: opacity .25s
}
#zoomInfo {
  position: absolute;
  font-size: 0.7em;
  bottom: 4em;
  left: 0.5em;
  background-color: white;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid lightgray;
  opacity: 0.75;
}
.ol-scale-line{
  background: white;
  opacity: 0.75;
}
.ol-scale-line-inner {
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#image-basemap-zoom-info {
  position: absolute;
  font-size: 0.7em;
  bottom: 4em;
  left: 0.5em;
  background-color: white;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid lightgray;
  opacity: 0.75;
}

.ol-attribution.ol-logo-only {
  bottom: 20px;
}

.nesting-notification {
  text-align: center;
  line-height: 90%;
  padding-top: 5px;
}

/*--------------------
Map Layer Switcher Style
--------------------*/
.layer-switcher {
  margin-top: 4em;
  top: 208px;
  left: .45em;
  right: auto;
}
.layer-switcher .panel {
  background: white;
  border-radius: 8px;
}
.layer-switcher.shown .panel {
  padding-left: 15px;
}
.layer-switcher button {
  float: left;
  padding: 16px;
  background-image: url('../img/layers.png');
  background-repeat: no-repeat;
  background-position: center;
}
.ol-touch .layer-switcher button{
  padding: 15px;
}
#toggleButton{
  font-size: 18px;
}

/*--------------------
Map Popups Style
--------------------*/
.ol-popup {
  padding: 5px;
}

.popup-more-button {
  float: right;
}

/*--------------------
Buttons
--------------------*/

.button-text-small {
  color: black;
  font-size: small;
}

.button-text-big {
  color: black;
  font-weight: bold;
}

.divider-buttons-right .item-divider i {
  position: absolute;
  right: 10px;
}

.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.strabo-color-box-button-right {
  position: absolute;
  right: 10px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: lightgrey;
}

.strabo-color-box-button-left {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: lightgrey;
}

.crossed {
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), lightgray, transparent calc(50% + 1px));
}

.calc-trend-plunge-text {
  font-size: 10px;
  word-break: break-word;
  line-height: 10px;
  width: 30px;
}

.close-modal-button {
  color: lightgray;
  position: relative;
  top: -5px;
  background: transparent;
  border: none;
}

/*--------------------
Orientation Tab Style
--------------------*/

.orientation-text {
  font-weight: bold;
  text-transform: uppercase;
}

.orientation-label {
  font-weight: normal;
  font-size: small;
  text-transform: initial;
}

.orientation-reference {
  background: lightgray;
  font-size: x-small;
}

/*--------------------
Online & Offline Notification Circles
--------------------*/
.online{
  width:15px;
  height:15px;
  border-radius:7.5px;
  background:linear-gradient(to bottom, #33FF00, #006600)
}

.offline{
  width:15px;
  height:15px;
  border-radius:7.5px;
  background:linear-gradient(to bottom, #FF3333, #990000)
}

/*--------------------
Tabs Style
--------------------*/
.tabs {
  height: 29px;
  line-height: 29px;
}
.has-tabs-top {
  top: 73px;
}
.active-tags {
  background-color: lightgray;
}

/*--------------------
Image Modal Style: used for image active-slider when choosing spot images
--------------------*/
.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: transparent !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.image-modal-textarea {
  width: 80%;
  height:10%;
  bottom: 30px;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
}

.slider {
  width: 100%;
  height: 100%;
}

/*--------------------
Form Fields Style
--------------------*/

.strabo-form .item-input {
  display: block !important;
  padding-top: 1px;
  padding-bottom: 1px;
}

.strabo-form .input-label{
  max-width: 100% !important;
  width: 100% !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  line-height: 20px;
  height: 20px;
  padding: 0px;
}

.strabo-form input{
  font-size: small;
  line-height: 20px;
  padding: 0px !important;
}

textarea {
  font-size: small;
}

.strabo-form .toggle {
  left: 16px;
}

.strabo-form .toggle-left-label {
  margin-left: 65px;
}

.field-group {
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px;
}

.item-divider {
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px;
}

.item-select.item-stacked-label select {
  max-width: 100%;
  width: 100%;
  margin: 0;
  height: 20px;
}

/* Select box dropdown arrow positioning */
.item-select.item-stacked-label:after {
  top: initial;
  bottom: 12%;
}

.item-checkbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.item-checkbox {
  left: 25px; 
}

.login-input {
  line-height: 25px !important;
  height: 25px !important;
}

.relationship-select {
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  line-height: 30px;
  height: 30px;
  padding-left: 15px;
}

.other-relationship {
  padding-left: 25px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 25px !important;
  height: 25px !important;
}

.strabo-field-info-button {
  min-height: 20px;
  line-height: 20px;
  top: -3px;                  /* Overwritten in web css */
  color: #387ef5;
  position: absolute;
  margin-left: 0px; 
   margin-top: 17px;
}

.strabo-minerals-field-info-button {            
  color: #387ef5;
  position: absolute;
}

.mineral-checkbox{
  margin-left: -40;
}

.item-checkbox{
  position: relative;
}
.item{
  display: flex;
}
.range input {
  height: 43px;               /* Set back to original for range */
}

.only-bottom-border {
  border-top: none;
  border-left: none;
  border-right: none;
}

.no-left-margin {
  margin-left: 0;
}

/*--------------------
Form Select Multiple Choices Fields Style
--------------------*/

.item-button-right > .button {
  z-index: 4; 
  font-size: 12px;
}
#minerals-info-button{
  float: left;
  align-items: center;
  position: relative;
  top: -8px;
  right: -13px;
  min-width: 34px;
  min-height: 34px;
  font-size: 12px;
  line-height: 32px;
}

.mineral-info-display > .row{
  
  margin: 0px 0px 10px 0px;
}

.mineral-title{
  margin-right: 15px;
  font-weight: bold;
}

.ion-backdrop {
  visibility: visible;
  opacity: 1.5;
  z-index: 1010;
}
#search-div
{
  position: relative;
}
#background-input
{
  position: absolute;
  color: #999999;
  height:25px;
  width:250px;
}
#search
{
  position: relative;
  background: transparent;
  height:25px;
  width:250px;
  padding: 25px;
}
.strabo-choices-flex-container {
  padding-left: 0px;
  margin: 0;
  border: none;
  
   display: flex;
}
.strabo-choices-flex-item {
  flex: 1 0 200px;
  margin-bottom: 1px;
  margin-left: 83px;
  /* align-content: space-around; */
  display: flex;
}
@media (min-width: 410px) {
  .strabo-flex-container .strabo-choices-flex-item {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 620px) {
  .strabo-flex-container .strabo-choices-flex-item {
    max-width: calc(33.33333% - 10px);
  }
}
@media (min-width: 830px) {
  .strabo-flex-container .strabo-choices-flex-item {
    max-width: calc(25% - 10px);
  }
}
@media (min-width: 1040px) {
  .strabo-flex-container .strabo-choices-flex-item {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1250px) {
  .strabo-flex-container .strabo-choices-flex-item {
    max-width: calc(16.66667% - 10px);
  }
}
@media (min-width: 1460px) {
  .strabo-flex-container .strabo-choices-flex-item {
    max-width: calc(14.28571% - 10px);
  }
}
@media (min-width: 1670px) {
  .strabo-flex-container .strabo-choices-flex-item {
    min-width: calc(12.5% - 10px);
  }
}

/*--------------------
Style fields for input errors and no-errors
--------------------*/
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

/*--------------------
Login Page
--------------------*/
.login-page {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scroll {
  min-height: 100%;
  height: 100%;
}

.login-inset {
  max-width: 400px;
  position: relative;
  top: 30px;
  text-align: center;
  font-family: Calibri, Tahoma, Verdana, Arial, sans-serif;
  color: black;
}

.login-title {
  padding-bottom: 25px;
}

.login-title-line-1 {
  position: relative;
  font-weight: bold;
  font-size: 45px;
}

.login-title-line-2{
  position: absolute;
  top: 90%;
  right: 0;
  font-weight: normal;
  font-size: 35px;
}

/* Larger Screens */
@media (min-width: 768px) {
  .login-inset {
    top: 100px;
  }

  .login-title {
    padding-bottom: 70px;
  }

  .login-title-line-1 {
    font-size: 80px;
  }

  .login-title-line-2{
    top: 100%;
    font-size: 60px;
  }
}

button.skip {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.create-account-text{
  font-weight: bold;
  color: white;
  font-size: 120%;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
  text-decoration: none;
}

/*--------------------
Buttons on Spot Page (Pseudo Tabs)
--------------------*/

.bar {
  background-size: 100% 0px;
}

.bar-header {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none;
}

.wide-as-needed {
  white-space: nowrap;
  height: 44px;
}

.scroll-bar {
  visibility: hidden !important;
}

.bar-subheader {
  background-color: #444444;
}

.spot-tab-active {
  font-weight: bold !important;
  text-transform: uppercase !important;
  border-bottom: medium solid #FFA500 !important;
  font-size: small !important;
}

.spot-tab-inactive {
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: small !important;
}

/*--------------------
Images on Images Tab
---------------------*/

.image-col {
  max-width: 110px;
}

.strabo-image .item-input {
  padding: 0px;
  border: none;
}

.strabo-image .image-title{
  font-size: small;
  font-weight: bold;
  text-decoration: underline;
  height: 20px;
}

.strabo-image .image-description{
  font-size: small;
  height: 20px;
  border: none;
  text-overflow: ellipsis;
}

.strabo-image .toggle {
  left: 3px;
  margin-top: -15px;
}

.strabo-image .item-toggle {
  border: none;
  padding: 10px;
  max-height: 30px;
}

.strabo-image .toggle-left-image-label {
  font-size: small;
  margin-left: 40px;
}

/*--------------------
Json Data Model
---------------------*/

pre {  font-size: x-small; }
.type { color: green; }
.required { color: darkorange; }
.label { color: blue; }
.hint { color: magenta; }
.key { color: red; }


/*--------------------
Popover Style
---------------------*/

ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*--------------------
Dataset List Toggles
---------------------*/

.toggle-left {
  margin-left: 50px;
}

.dataset .toggle {
  left: 3px;
  margin-top: -15px;
}

.dataset .item-toggle {
  padding: 10px;
  max-height: 35px;
  border: none;
}

/*--------------------
Spots Page
---------------------*/

.filter-on {
  background-color: lightgray;
}
.geometry-icon {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}
.spot-tabs-on{
  font-size: 10px;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.orientation-on{
  background-color: #8dd3c7;
}
._3d-structures-on{
  background-color: #ffffb3;
}
.images-on{
  background-color: #bebada;
}
.tags-on{
  background-color: #fb8072;
}
.samples-on{
  background-color: #80b1d3;
}
.other-features-on{
  background-color: #fdb462;
}
.minerals-on{
  background-color: #0af36b;
}
.relationships-on{
  background-color: #fccde5;
}
.strat-section-on{
  background-color: #9bfdea;
}
.sed-interpretations-on{
  background-color: #fcbf90;
}
.lithologies-on{
  background-color: #f2a9fc;
}
.sed-structures-on{
  background-color: #6bcffc;
}
.list-sub{
  font-size: small;
  padding-left: 24px;
  font-style: oblique;
}

/*--------------------
Filters Modal
---------------------*/

.date-filter-right{
  float: right;
  display: initial;
}

.date-filter-left{
  float: left;
}

.date-filter-label{
  display: initial;
  font-size: small;
}

/*--------------------
Relationships Page
---------------------*/

.relationship-types{
  font-size: medium;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
}

/*--------------------
Samples and Images Pages
---------------------*/

.strabo-flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.strabo-wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.strabo-flex-item {
  background:  #F6F6F6;
  padding: 5px;
  width: 200px;
  height: 260px;
  margin: 10px;
  overflow: hidden;
}

.strabo-images-flex-item {
  padding: 5px;
  width: 200px;
  height: 260px;
  margin: 10px;
  overflow: hidden;
}

.sample-box-header-text{
  font-weight: bold;
  text-decoration: underline;
}

/*--------------------
Misc
---------------------*/

.circle {                         /* Used for opacity range slider */
  width: 26px;
  height: 26px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border-color: black;
  border: solid;
}

.circle.filled {
  background: black;
}

.circle.hollow {
  background: white;
}
