.map {
  height: 100%;
}
.glyph-active {
  border: 1 solid #000;
}

/*--------------------
Basic Style
--------------------*/
.title {
  text-transform: capitalize;
}

/*--------------------
Project Info
--------------------*/
.project-info {
  background-color: #444444;
  width: 100%;
  overflow: hidden;
  color: white;
}

.project-info .user {
  text-align: center;
  max-width: 75px;
  padding: 5px;
}

.project-info .user-name {
  font-size: x-small;
}

.project-info .project {
  vertical-align: top;
  padding: 5px;
}

.project-info .project-name-header {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.project-info .project-buttons {
  vertical-align: bottom;
}

img.profile-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  border-radius: 50%;
}

/*--------------------
Map Controls Style
--------------------*/
.ol-control {
  background: none !important;
}
.ol-control button{
  height: 30px;
  width: 30px;
  background: white;
  color: black;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-control button:focus, .ol-control button:hover {
  background-color: lightgray !important;
}
.ol-zoom-in {
  border-radius: 8px 8px 0 0 !important;
}
.ol-zoom-out {
  border-radius: 0 0 8px 8px !important;
  border-top: none !important;
  margin-top: -1px !important;
}
.draw-controls {
  position: absolute;
  margin-top: 4em;
  top: 80px;
  left: .65em;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-touch .draw-controls {
  top: 85px;
}
.draw-controls a {
  display: block;
  font-size: 20px;
  height: 30px;
  width: 30px;
}
.draw-controls a:hover {
  background-color: lightgray;
}
.draw-controls .point {
  background-image: url('../img/point.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .line {
  background-image: url('../img/line.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .poly {
  background-image: url('../img/polygon.png');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}
.draw-controls .edit {
  background-image: url('../img/edit.png');
  background-position: center;
  background-repeat: no-repeat;
}
.saveEdits {
  position: absolute;
  font-size: 0.9em;
  top: 60px;
  background-color: white;
  padding: 8px;
  left: 50%;
  margin-left: -25px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.ol-zoom {
  top: 60px;
  left: .5em
}
.ol-rotate {
  top: 4em;
  right: .5em;
  transition: opacity .25s
}
#zoomInfo {
  position: absolute;
  font-size: 0.7em;
  bottom: 4em;
  left: 0.5em;
  background-color: white;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid lightgray;
  opacity: 0.75;
}
.ol-scale-line{
  background: white;
  opacity: 0.75;
}
.ol-scale-line-inner {
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/*--------------------
Map Layer Switcher Style
--------------------*/
.layer-switcher {
  margin-top: 4em;
  top: 208px;
  left: .45em;
  right: auto;
}
.layer-switcher .panel {
  background: white;
  border-radius: 8px;
}
.layer-switcher.shown .panel {
  padding-left: 15px;
}
.layer-switcher button {
  float: left;
  padding: 16px;
  background-image: url('../img/layers.png');
  background-repeat: no-repeat;
  background-position: center;
}
.ol-touch .layer-switcher button{
  padding: 15px;
}

/*--------------------
Map Popups Style
--------------------*/
.ol-popup {
  padding: 5px;
}

/*--------------------
Buttons
--------------------*/

.button-text-small {
  color: black;
  font-size: small;
}

.button-text-big {
  color: black;
  font-weight: bold;
}

.divider-buttons-right .item-divider i {
  position:absolute; right:10px;
}

.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*--------------------
Orientation Tab Style
--------------------*/

.orientation-text {
  font-weight: bold;
  text-transform: uppercase;
}

.orientation-label {
  font-weight: normal;
  font-size: small;
  text-transform: initial;
}


.orientation-reference {
  background: lightgray;
  font-size: x-small;
}

/*--------------------
Online & Offline Notification Circles
--------------------*/
.online{
  width:15px;
  height:15px;
  border-radius:7.5px;
  background:linear-gradient(to bottom, #33FF00, #006600)
}

.offline{
  width:15px;
  height:15px;
  border-radius:7.5px;
  background:linear-gradient(to bottom, #FF3333, #990000)
}

/*--------------------
Tabs Style
--------------------*/
.tabs {
  height: 29px;
  line-height: 29px;
}
.has-tabs-top {
  top: 73px;
}

/*--------------------
Image Modal Style: used for image active-slider when choosing spot images
--------------------*/
.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: transparent !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.image-modal-textarea {
  width: 80%;
  height:10%;
  bottom: 30;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
}

.slider {
  width: 100%;
  height: 100%;
}

/*--------------------
Form Fields Style
--------------------*/

.strabo-form .item-input {
  display: block !important;
  padding-top: 1px;
  padding-bottom: 1px;
}

.strabo-form .input-label{
  max-width: 100% !important;
  width: 100% !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  line-height: 20px;
  height: 20px;
  padding: 0px;
}

.strabo-form input{
  font-size: small;
  line-height: 20px;
  height: 20px;
  padding: 0px !important;
}

textarea {
  font-size: small;
}

.strabo-form .toggle {
  left: 16px;
}

.strabo-form .toggle-left-label {
  margin-left: 65px;
}

.field-group {
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px;
}

.item-divider {
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px;
}

.item-select select {
  position: relative !important;
  max-width: 100% !important;
  width: 100% !important;
  direction: ltr;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0px;
}

/* Select box dropdown arrow positioning */
.item-select:after {
  top: 75% !important;
}

.item-checkbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.item-checkbox .checkbox {
  left: 0px;
}

.login-input {
  line-height: 25px !important;
  height: 25px !important;
}

.relationship-select {
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  line-height: 30px;
  height: 30px;
  padding-left: 15px;
}

.other-relationship {
  padding-left: 25px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 25px !important;
  height: 25px !important;
}

/*--------------------
Style fields for input errors and no-errors
--------------------*/
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

/*--------------------
Login Page
--------------------*/
.login-page {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scroll {
  min-height: 100%;
  height: 100%;
}

.login-inset {
  max-width: 400px;
  position: relative;
  top: 30px;
  text-align: center;
  font-family: Calibri, Tahoma, Verdana, Arial, sans-serif;
  color: black;
}

.login-title {
  padding-bottom: 25px;
}

.login-title-line-1 {
  position: relative;
  font-weight: bold;
  font-size: 45px;
}

.login-title-line-2{
  position: absolute;
  top: 90%;
  right: 0;
  font-weight: normal;
  font-size: 35px;
}

/* Larger Screens */
@media (min-width: 768px) {
  .login-inset {
    top: 100px;
  }

  .login-title {
    padding-bottom: 70px;
  }

  .login-title-line-1 {
    font-size: 80px;
  }

  .login-title-line-2{
    top: 100%;
    font-size: 60px;
  }
}

button.skip {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.create-account-text{
  font-weight: bold;
  color: black;
  font-size: 120%;
  text-transform: uppercase;
  text-shadow: 0 0 6px #FFF;
  text-decoration: none;
}

/*--------------------
Buttons on Spot Page (Pseudo Tabs)
--------------------*/

.bar {
  background-size: 100% 0px;
}

.bar-header {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none;
}

.wide-as-needed {
  white-space: nowrap;
  height: 44px;
}

.scroll-bar {
  visibility: hidden !important;
}

.bar-subheader {
  background-color: #444444;
}

.spot-tab-active {
  font-weight: bold !important;
  text-transform: uppercase !important;
  border-bottom: medium solid #FFA500 !important;
  font-size: small !important;
}

.spot-tab-inactive {
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: small !important;
}

/*--------------------
Images on Images Tab
---------------------*/

.image-col {
  max-width: 110px;
}

.strabo-image .item-input {
  padding: 0px;
  border: none;
}

.strabo-image .image-title{
  font-size: small;
  font-weight: bold;
  text-decoration: underline;
  height: 20px;
}

.strabo-image .image-description{
  font-size: small;
  height: 20px;
  border: none;
  text-overflow: ellipsis;
}

.strabo-image .toggle {
  left: 3px;
  margin-top: -15px;
}

.strabo-image .item-toggle {
  border: none;
  padding: 10px;
  max-height: 30px;
}

.strabo-image .toggle-left-image-label {
  font-size: small;
  margin-left: 40px;
}

/*--------------------
Json Data Model
---------------------*/

pre {  font-size: x-small; }
.type { color: green; }
.required { color: darkorange; }
.label { color: blue; }
.hint { color: magenta; }
.key { color: red; }


/*--------------------
Popover Style
---------------------*/

ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*--------------------
Dataset List Toggles
---------------------*/

.toggle-left {
  margin-left: 50px;
}

.dataset .toggle {
  left: 3px;
  margin-top: -15px;
}

.dataset .item-toggle {
  padding: 10px;
  max-height: 35px;
  border: none;
}

/*--------------------
Spots Page
---------------------*/

.filter-on {
  background-color: lightgray;
}
.geometry-icon {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}
.spot-tabs-on{
  font-size: 10px;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.orientation-on{
  background-color: #8dd3c7;
}
._3d-structures-on{
  background-color: #ffffb3;
}
.images-on{
  background-color: #bebada;
}
.tags-on{
  background-color: #fb8072;
}
.samples-on{
  background-color: #80b1d3;
}
.other-features-on{
  background-color: #fdb462;
}
.nests-on{
  background-color: #b3de69;
}
.inferences-on{
  background-color: #fccde5;
}
.list-sub{
  font-size: small;
  padding-left: 24px;
  font-style: oblique;
}