/* Empty. Add your own CSS if you like */

.map { height: 100%; }

.glyph-active {
	border:1 solid #000;
}

.draw-controls {
    position: absolute;
    top: 5em;
    right: .5em;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}
.ol-touch .draw-controls {
    top: 80px;
}
.draw-controls a {
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    height: 22px;
    width: 22px;
    background: #5c914f;
}
.ol-touch .draw-controls a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 26px;
}
.draw-controls a:hover {
    background: rgba(0, 60, 136, 0.7);
}