<ion-modal-view>
  <ion-header-bar class='bar-dark nav-title-slide-ios7'>
    <button class='button icon ion-arrow-left-c button-clear'
            ng-click='vmChild.submitFeature()'>
    </button>
    <h1 class='title'>Other Feature</h1>
  </ion-header-bar>
  <ion-content class='has-header strabo-form'>
    <ion-input class='item item-input'>
      <ion-label>Label</ion-label>
      <input type='text' placeholder='If a label is not specified a default label will be given.' ng-model='vmChild.otherFeature.label'>
    </ion-input>
    <ion-input class='item item-input item-select item-text-wrap'>
      <ion-label>Feature Type</ion-label>
      <select ng-model='vmChild.otherFeature.type'
              ng-options='type as type for type in vmChild.otherFeatureTypes'>
      </select>
    </ion-input>
    <div ng-show='vmChild.otherFeature.type === "other"'>
      <ion-input class='item item-input'>
        <ion-label>Other Feature Type</ion-label>
        <input type='text' placeholder='Type of feature ...' ng-model='vmChild.newFeatureType'>
      </ion-input>
    </div>
    <ion-input class='item item-input'>
      <ion-label>Feature Name</ion-label>
      <input type='text' placeholder='Name of this feature ...' ng-model='vmChild.otherFeature.name'>
    </ion-input>
    <ion-input class='item item-input'>
      <ion-label>Feature Description</ion-label>
        <textarea placeholder='Description of this feature ....' rows='14'
                  ng-model='vmChild.otherFeature.description'></textarea>
    </ion-input>
  </ion-content>
</ion-modal-view>

